<div class="enemy" *ngIf='enemy' (click)="openEnemyDetails(enemy.name)">
    <div class="enemy-thumb-container">
        <img
        *ngIf="enemy.name"
        src="{{ getEnemyImageURL(enemy.name) }}"
        alt="thumbnail"
        width="160px"
        />
    </div> 
    <div class="enemy-description">
        <span class="enemy-name" *ngIf="enemy.displayDrop == ''" [style.color]="enemy.color"> {{ enemy.name }}</span>
        <span class="enemy-name"  *ngIf="enemy.displayDrop != ''" [style.color]="enemy.color">{{ enemy.displayDrop }}</span>
        <div class="enemy-descript">
        <span class="enemy-level" *ngIf="enemy.level">Lvl. {{ enemy.level }}&nbsp;</span>
        <span class="enemy-category"  *ngIf="enemy.category">{{ enemy.category }}&nbsp;</span>
        <span class="enemy-type"  *ngIf="enemy.type" >{{ enemy.type }}</span>
        </div>  
        <div class="enemy-details">
        <span class="enemy-location"  *ngIf="enemy.location"><b>Location:</b> {{ enemy.location }}&nbsp;</span> 
        <span class="enemy-conditions"  *ngIf="enemy.conditions"><b>Requirements:</b> {{ enemy.conditions }}&nbsp;</span> 
        <span class="enemy-respawn"  *ngIf="enemy.respawn"><b>Respawns:</b> {{ enemy.respawn }}&nbsp;</span>  
        <span class="enemy-limit"  *ngIf="enemy.limit"><b>Max Drops:</b> {{ enemy.limit }}&nbsp;</span>
        </div>
    </div>
    <div class="enemy-items">
        <div class="enemy-drops"  *ngIf="enemy.drops">
        <div class="enemy-drop-container" *ngFor="let drop of enemy.drops">
            <button mat-icon-button class="enemy-drops-button" (click)="openItemDetails(drop)" 
            (mouseover)="changeItemDisplay(enemy, drop)" 
            (mouseout)="changeItemDisplay(enemy, '')"
            *ngIf="getItemImageURL(drop) != 'ERROR'">
            <img src="{{ getItemImageURL(drop) }}"
            width="100%"
            style="position:absolute; left: 0; top: 0;"
            alt="thumbnail"/>
            </button>
        </div>
        </div>
    </div>
</div>