.item {
    align-self: center;
    border-radius: 5px;
    background-color: #202020;
    display: flex;
    flex-direction: row;
    &-container {
      width: 1104px;
      max-width: auto;
      padding: 2%;
      padding-left:5%;
      padding-top: 4%;
    }
    &-details-container {
      display: flex;
      flex-direction: row;
    }
    &-thumbnail {
      width: 168px;
      position: relative;
      height: 168px;
      align-self: center;
      padding: 20px;
    }
    &-content {
      align-self: center;
    }
    &-descript {
        display: flex;
        flex-direction: row;
        padding-top: 2%;
    } 
    &-name {
      color: #fff;
      font-weight: 700;
      font-size: 28px;
      margin-bottom: 20px;
      text-overflow: ellipsis;
      align-self: center;
    }
    &-rank {
      color: #fff;
      font-weight: 350;
      font-size: 18px;
    }
    &-level {
      color: #FFD700;
      font-weight: 350;
      font-size: 18px;
    }
    &-grade {
      color: #fff;
      font-weight: 350;
      font-size: 18px;
    }
    &-type {
      color: #fff;
      font-weight: 350;
      font-size: 18px;
    }
    &-quote {
      padding-top: 3%;
      color: #fff;
      flex-grow: 1;
      font-size: 18px;
      flex-wrap: wrap;
      max-width: 300px ;
      overflow-wrap: break-word;
      
    }

    //stats
    &-stats-outer-container {
      display: flex;
      flex-direction: row;
    }
    &-details-padding {
      width: 168px;
      height: 168px;
      resize: none;
    }
    &-stat-container {
      display: flex;
      flex-direction: column;

    }
    &-stat {
      color: #fff;
      font-weight: 200;
      font-size: 22px;
      padding: 5px;
    }
    &-active {
      color: #40e0d0;
      font-weight: 200;
      font-size: 22px;
    }
    &-active-container {
      padding-top: 3%;
      display: flex;
      flex-direction: column;
      overflow-wrap: break-word;
    }
    &-active-label {
      color: #40e0d0;
      font-weight: 500;
      font-size: 25px;
    }
    &-passive-label {
      color: #40e0d0;
      font-weight: 500;
      font-size: 25px;
    }
    &-passive-container {
      padding-top: 3%;
      display: flex;
      flex-direction: column;
      overflow-wrap: break-word;
    }
    &-passive {
      color: #40e0d0;
      font-weight: 200;
      font-size: 22px;
    }
    &-spec-container {
      padding-top: 3%;
      display: flex;
      flex-direction: column;
      overflow-wrap: break-word;
    }
    &-spec {
      color: #5a7da0;
      font-weight: 260;
      font-size: 20px;
    }
    &-note {
      color: #ffffff;
      font-weight: 200;
      font-size: 22px;
    }
    &-notes-container {
      padding-top: 3%;
      display: flex;
      flex-direction: column;
      overflow-wrap: break-word;
    }
    &-notes-label {
      color: #ffffff;
      font-weight: 500;
      font-size: 25px;
    }

    //used-in
    &-used-in-container {
      display: flex;
      flex-flow: column;
      padding: 20px;
    }
    &-used-in {
        display: flex;
        flex-flow: row wrap;
        padding: 20px;
    }
    &-used-in-label {
      color: #fff;
      font-weight: 700;
      font-size: 34px;
      display: inline-block;
      margin: 0 auto;
      padding: 3px;
    }

    //Recipe
    &-recipe-label {
      color: #fff;
      font-weight: 700;
      font-size: 34px;
      padding-bottom: 20px;
      align-self: center;
    }
    &-recipe-container {
        display: flex;
        flex-flow: column;
        color:#fff;
        margin-left: auto;
        padding: 2%;
        padding-right:5%;
        padding-top: 3%;
    }
    &-recipe-descript-single {
        display: flex;
        flex-flow: row;
    }
    &-recipe-descript-multiple {
      display: flex;
      flex-flow: row;
    }
    &-recipe-details {
      color: #fff;
      font-weight: 700;
      font-size: 22px;
      text-overflow: ellipsis;
      align-self: center;
      width:325px;
      max-width: 325px;;
      max-height: 128px;
      padding: 10px;
    }
    &-button {
      cursor: pointer;
      align-self: center;
      height: 128px;
      max-height: 128px;
      width: 128px;
      max-width: 128px;;
    }
    &-recipe-filler-button{
      width: 64px;
    }
    &-ingredient-swap {
      cursor: pointer;
      align-self: center;
      height: 64px;
      max-height: 64px;
      width: 64px;
      max-width: 64px;
    }

    //Dropped
    &-boss-label {
      color: #fff;
      font-weight: 700;
      font-size: 34px;
      padding-bottom: 20px;
      align-self: center;
    }
    &-boss-container {
      display: flex;
      flex-flow: column;
      color:#fff;
      margin-left: auto;
      padding: 2%;
      padding-right:5%;
      padding-top: 3%;
    }
    &-boss {
      display: flex;
      flex-flow: row;
    }
    &-boss-button {
      align-self: center;
      height: 128px;
      max-height: 128px;
      width: 128px;
      max-width: 128px;;
    }
    &-drop-details {
      color: #fff;
      font-weight: 700;
      font-size: 22px;
      text-overflow: ellipsis;
      align-self: center;
      width:325px;
      max-width: 325px;;
      max-height: 128px;
      padding: 10px;
    }
}