.item {
    align-self: center;
    border-radius: 5px;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);
    margin: auto;
    align-self: center;

    &-container {
      padding-left: 2vw;
      padding-right: 2vw;
    }
    
    &-large-container {
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
    }

    &-stats-container {
      min-width: 40%;
    }

    &-details-container {
      display: flex;
      flex-direction: row;
    }
    &-thumbnail {
      padding: 1vw;
      width: calc(64px + 6vw);
      height: calc(64px + 6vw);
    }
    &-content {
      align-self: center;
      margin-top: 1vw;
    }
    //Flavor text
    &-name {
      color: #fff;
      font-weight: 700;
      font-size: calc(20px + .5vw);
      line-height: calc(22px + .5vw);
      text-overflow: ellipsis;
      align-self: center;
    }
    &-quote {
      color: #fff;
      flex-grow: 1;
      font-size: calc(14px + .3vw);
      line-height: calc(16px + .3vw);
      flex-wrap: wrap;
      overflow-wrap: break-word;
    }
    &-flavor {
      &-container {
        display: flex;
        flex-direction: row;
      }
      &-line {
        color: #fff;
        font-weight: 350;
        font-size: calc(12px + .3vw);
        line-height: calc(16px + .3vw);
      }
    }
    //stats
    &-attribute {
      &-container {
        padding-top: 1%;
        display: flex;
        flex-direction: column;
        overflow-wrap: break-word;
      }
      &-label {
        font-weight: 500;
        font-size:calc(16px + .3vw);
        line-height: calc(16px + .3vw);
      }
      &-description {
        font-weight: 200;
        font-size:calc(12px + .3vw);
        line-height: calc(12px + .3vw);
      }
    }
    //used-in
    &-used-in {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        &-container {
          display: flex;
          flex-flow: column;
          padding: 2.8%;
          height: 50%;
        }
        &-label {
          color: #fff;
          font-weight: 500;
          font-size: calc(12px + 1.2vw);
          margin-bottom: .2vw;
          display: inline-block;
          margin: 0 auto;
          padding: 1%;
        }
        &-button {
          cursor: pointer;
          align-self: center;
          min-width: 64px;
          min-height: 64px;
          height: 12.5%;
          width: 12.5%;
          max-width: 96px;
          max-height: 96px;
          position: relative;
          z-index: 3;
          display: block;
        }
    }
    //lists (ingredients and dropped)
    &-lists {
      max-width: 70%;
      margin-left: auto;
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
    }
    &-list {
      &-container {
        display: flex;
        flex-flow: column;
        align-items: center;
        color:#fff;
        margin-right: 20px;
      }
      &-details {
        font-size: calc(12px + .6vw);
        line-height:calc(12px + .6vw);
        font-weight: 600;
        padding-left: 5px;
        align-self: center;
  
        width: 100%;
      }
      &-button {
        align-self: center;
        height: calc(32px + 4vw);
        max-height: calc(32px + 4vw);
        min-height: 32px;
        width: calc(32px + 4vw);
        max-width: calc(32px + 4vw);
        min-width: 32px;
      }
      &-label {
        color: #fff;
        font-weight: 700;
        font-size: calc(12px + 1.2vw);
        padding-bottom: 1%;
        line-height: 34px;
        margin-bottom: .2vw;
        align-self: center;
      }
      &-filler {
        width: calc(32px + 1vw);
        min-width: calc(32px + 1vw);
      }
      &-content {
        display: flex;
        flex-flow: row;
        max-height: 128px;
        min-height: 32px;
        width: 100%;
      }
    }
    &-ingredient-swap {
      cursor: pointer;
      align-self: center;
      height: calc(32px + 1vw);
      max-height: calc(32px + 1vw);
      width: calc(32px + 1vw);;
      max-width: calc(32px + 1vw);
    }
}
.back-button
{
  width:64px;
  height:64px;
}
.back-button-container
{
  display: flex;
  flex-flow: row;
  padding: 10px;
  height: 90px;
}
.back-button-label
{
      color: #FFD700;
      font-weight: 250;
      font-size: 28px;
      text-overflow: ellipsis;
      align-self: center;
      margin-left: 10px;
}
.back-button{
  width:64px;
  height:64px;
}
.back-button-container{
  display: flex;
  flex-flow: row;
  padding: 10px;
  height: 90px;
}
.back-button-label{
      color: #FFD700;
      font-weight: 250;
      font-size: 28px;
      text-overflow: ellipsis;
      align-self: center;
      margin-left: 10px;
}