<div class="guide">
    <div class="guide-summon">
        <h1 class="guide-label">How to Summon</h1>
        <mat-divider></mat-divider>
        <img class="guide-summon-image"
        src="https://i.imgur.com/sEZ8oHJ.jpg"
        alt="location-image"
        width="896" height="448"/>
        <p class="guide-summon-description">
            Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 70</span> 
            before approaching this boss as you will get no experience nor loot if you're below that threshold.
            <br>
            <br> 
            To summon this boss, first, gather 4 red stones from any red stone deposit in the Volcanic Lands (Teleport 8) or, if you have an Abyssal Pickaxe or above, 
            you can mine directly from the stone deposits at the Cave Entrance(Teleport 4). Use any pickaxe to gather the stones. Then, bring them to the 
            blue obelisk southeast of the expedition in Frosty Snowfield (Teleport 6), as shown above.</p>
    </div>
    <div class="guide-overall">
        <h1 class="guide-label">Overall</h1>
        <mat-divider></mat-divider>
        <p class="guide-overall-description">
            <br>
            Be mindful of his blizzard and dark star, as those spells will deal a large amount of damage and have a chance to deal even more damage, otherwise, he's pretty simple.</p>
        <div class="guide-spells">
            <h1 class="guide-label">Spells</h1>
            <mat-divider></mat-divider>
            <app-enemy-spell-display [caster]="enemy.name" [category]="enemy.category" [skills]="skills"></app-enemy-spell-display>
        </div>
    </div>
    <div class="guide-kill">
        <h1 class="guide-label">Kill Video</h1>
        <mat-divider style="margin-bottom: 20px;"></mat-divider>
        <iframe src="https://drive.google.com/file/d/15P0jNuyw4-Wq5ZJOG3Q2BoB5B4F6BRKU/preview" width="960" height="720" allow="autoplay" allowfullscreen style="align-self: center;" frameborder="0"></iframe> -->
    </div>
</div>