<div class="guide">
    <div class="guide-summon">
        <h1 class="guide-label" [style.color]="enemy.color">How to Summon</h1>
        <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
        <img class="guide-summon-image"
        src="https://i.imgur.com/sEZ8oHJ.jpg"
        alt="location-image"/>
        <p class="guide-description">
            Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 70</span> 
            before approaching this boss as you'll get no experience nor loot if you're below that threshold.
            <br>
            <br>
            To summon this boss, gather <span style="color:#ff9ca4">4 Red Stones</span> from any 
            <span style="color:#ff9ca4">Red Stone Deposit</span> in the Volcanic Lands 
            <span style="color:#FFD700">(Teleport 8)</span> with any pickaxe, or, 
            if you have an <span style="color:#52E252">Abyssal Pickaxe</span> or above, 
            you can mine directly from the Stone Deposits at the Cave Entrance <span style="color:#FFD700">(Teleport 4)</span>. 
            Then, bring the stones to the Blue Obelisk southeast of the expedition in Frosty Snowfield 
            <span style="color:#FFD700">(Teleport 6)</span>, as shown above.</p>
    </div>
    <div class="guide-overall">
        <h1 class="guide-label" [style.color]="enemy.color">Overall</h1>
        <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
        <p class="guide-description">
            <br>
            Be mindful of his <span [style.color]='enemy.color'>Blizzard</span> and <span [style.color]='enemy.color'>Dark Star</span>, 
            as those spells will deal a large amount of damage and have a chance to deal even more damage due to 
            <span [style.color]='enemy.color'>Magical Weapon</span>, otherwise, he's pretty simple.</p>
        <div class="guide-spells">
            <h1 class="guide-label" [style.color]="enemy.color">Spells</h1>
            <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
            <app-enemy-spell-display [caster]="enemy.name" [category]="enemy.category" [skills]="skills"></app-enemy-spell-display>
        </div>
    </div>
    <div class="guide-kill">
        <h1 class="guide-label" [style.color]="enemy.color">Kill Video</h1>
        <mat-divider style="margin-bottom: 20px;" [style.border-top-color]="enemy.color"></mat-divider>
        <iframe class="guide-kill-video" src="https://drive.google.com/file/d/15P0jNuyw4-Wq5ZJOG3Q2BoB5B4F6BRKU/preview" allow="autoplay" allowfullscreen style="align-self: center;" frameborder="0"></iframe>
    </div>
</div>