.spell {
    display: flex;
    flex-direction: row;
    align-self: center;
    &-label {
        font-weight: 700;
        font-size: 45px;
        margin-bottom: 20px;
        color: #fff;
        align-self: center;
    }
    &-container {
        display: flex;
        flex-direction: column;
        color: #fff;
        width: 100%;
    }
    &-name {
        font-weight: 350;
        font-size: calc(25px + 1vw);
        line-height: calc(30px + 1vw);
        margin-bottom: 1%;
        color: #fff;
        align-self: center;
        line-height: 0.9;
        font-family: "Times New Roman", Times, serif !important;
    }
    &-detail-label {
        font-weight: 350;
        font-size: 30px;
        margin-bottom: 20px;
        line-height: 30px;
        font-family: "Times New Roman", Times, serif !important;
    }
    &-details {
        display: flex;
        flex-direction: column;
        width: 100%;
        line-height: 22px;
    }
    &-description {
        font-size: 22px;
        width: 90%;
    }
    &-video {
        height: 100%;
        width: 100%;
        min-width: 300px;
        min-height: 200px;
        align-self: center;
        &-container {
            align-self: center;
            height: 328px;
            padding: 20px;
            width: 75%;
        }
    }
    &-image {
        align-self: center;
    }
    &-cooldown {
        display: flex;
        flex-direction: row;
        color: #fff;
        &-label {
            height: 75%;
            font-size: calc(12px + 1vw);
            line-height: calc(14px + 1vw);
            color: #b3c2cb;
            align-self: center;
        }
        &-image {
            height: calc(32px + 1vw);
            max-height: calc(32px + 1vw);
            min-height: 32px;
            width: calc(32px + 1vw);
            max-width: calc(32px + 1vw);
            min-width: 32px;
            vertical-align: middle;
        }
    }
    &-cost {
        margin-left: 5px;
        display: flex;
        flex-direction: row;
        color: #fff;
        &-label {
            height: 75%;
            font-size: calc(12px + 1vw);
            line-height: calc(14px + 1vw);
            color: #8292e9;
            align-self: center;
        }
        &-image {
            height: calc(32px + 1vw);
            max-height: calc(32px + 1vw);
            min-height: 32px;
            width: calc(32px + 1vw);
            max-width: calc(32px + 1vw);
            min-width: 32px;
            vertical-align: top;
        }
    }

    &-summon {
        height: calc(32px + 1vw);
        max-height: calc(32px + 1vw);
        min-height: 32px;
        width: calc(32px + 1vw);
        max-width: calc(32px + 1vw);
        min-width: 32px;
        &-container {
            height: calc(32px + 1vw);
            display: flex;
            flex-flow: row;
            margin-top: auto;
        }
    }
}