<mat-accordion class="spell-container">
    <mat-expansion-panel hideToggle *ngFor="let spell of skills" style="background-color: #151515;width:1200px;align-self: center; width: 100%;">
      <mat-expansion-panel-header style="height:100px">
        <mat-panel-title class="spell-name" [style.color]="spell.color"> {{spell.name}}</mat-panel-title>
        <mat-panel-description style="margin-left: auto;">
            <div class="spell-cooldown" *ngIf="spell.cooldown">
                <img src="../../../assets/img/cooldown.png" width="40" height="40" style="vertical-align: middle"> 
                <span class="spell-cooldown-label">{{spell.cooldown}}</span>
            </div>
            <div class="spell-cost" *ngIf="spell.cost">
                <img src="../../../assets/img/BTNManaBurn.png" width="40" height="40" style="vertical-align: top"> 
                <span class="spell-cost-label">{{spell.cost}}</span>
            </div>
          </mat-panel-description>
      </mat-expansion-panel-header>
    <div class="spell">
        <div class="spell-details">
            <div class="spell-description" [style.color]="spell.color">
                <div class="spell-detail-label">{{ capitalizeFirstLetter(spell.type) }}</div>
                <ng-container *ngFor="let line of spell.description">
                    <span class="spell-active" *ngIf="spell.type=='active'">❖ {{line}}<br></span>
                    <span class="spell-passive" *ngIf="spell.type=='passive'">⁘ {{line}}<br></span>
                    <span class="spell-trigger" *ngIf="spell.type=='trigger'">※ {{line}}<br></span>
                </ng-container>
            </div>
            <ng-container *ngFor="let summon of spell.summons">
                <button mat-icon-button class="summon-button" (click)="openMinionDetails(summon)">
                    <img class="button-image" src="{{ getEnemyImageURL(summon) }}"
                    alt="thumbnail" style="width:100%"/>
                    </button>
            </ng-container>
        </div>
        <div class="spell-video-container" *ngIf="hasMP4(spell.name)">
            <video class="spell-video" controls>
                <source src="{{ getEnemySpellMP4(spell.name) }}" type="video/mp4"/>
                Browser not supported
            </video>
        </div>

    </div>
    </mat-expansion-panel>
</mat-accordion>