.spell {
    display: flex;
    flex-direction: row;
    align-self: center;
    &-label {
        font-weight: 700;
        font-size: 45px;
        margin-bottom: 20px;
        color: #fff;
        align-self: center;
    }
    &-container {
        display: flex;
        flex-direction: column;
        color: #fff;
        width: 100%;
    }
    &-name {
        font-weight: 350;
        font-size: calc(12px + 1.2vw);
        line-height: calc(12px + 1.2vw);
        overflow-wrap: break-word;
        margin-bottom: 1%;
        color: #fff;
        align-self: center;
        line-height: 0.9;
        font-family: "Times New Roman", Times, serif !important;
    }
    &-detail-label {
        font-weight: 350;
        font-size: calc(12px + 1.2vw);
        margin-bottom: 1vw;
        line-height: calc(12px + 1.2vw);
        font-family: "Times New Roman", Times, serif !important;
    }
    &-details {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &-description {
        width: 90%;
        font-size: calc(8px + 1vw);
        line-height: calc(10px + 1vw);
        margin-bottom: .4vw;
    }
    &-video {
        height: 100%;
        width: 100%;
        min-width: 200px;
        min-height: 100px;
        align-self: center;
        &-container {
            align-self: center;
            height: calc(200px+1vw);
            padding: 1vw;
        }
    }
    &-image {
        align-self: center;
    }
    &-cooldown {
        display: flex;
        flex-direction: row;
        color: #fff;
        &-label {
            height: 75%;
            font-size: calc(8px + 1.2vw);
            line-height: calc(9px + 1.2vw);
            color: #b3c2cb;
            align-self: center;
        }
        &-image {
            height: calc(16px + 1.7vw);
            max-height: calc(16px + 1.7vw);
            min-height: 16px;
            width: calc(16px + 1.7vw);
            max-width: calc(16px + 1.7vw);
            min-width: 16px;
            vertical-align: middle;
        }
    }
    &-cost {
        margin-left: 5px;
        display: flex;
        flex-direction: row;
        color: #fff;
        &-label {
            height: 75%;
            font-size: calc(8px + 1.2vw);
            line-height: calc(9px + 1.2vw);
            color: #8292e9;
            align-self: center;
        }
        &-image {
            height: calc(16px + 1.7vw);
            max-height: calc(16px + 1.7vw);
            min-height: 16px;
            width: calc(16px + 1.7vw);
            max-width: calc(16px + 1.7vw);
            min-width: 16px;
            vertical-align: top;
        }
    }

    &-summon {
        margin-top: auto;
        &-container {
            height: calc(32px + 1vw);
            display: flex;
            flex-flow: row;
            
        }
        &-button {
            height: calc(16px + 1.7vw);
            width: calc(16px + 1.7vw);
        }
    }
}


@media screen and (max-width: 699px) {
    .spell {
        flex-direction: column;
        &-video {
            align-self: center;
            &-container {
                align-self: center;
                height: calc(200px+1vw);
            }
        }
        &-description {
            width: 100%;
            font-size: calc(10px + 1vw);
            line-height: calc(12px + 1vw);
        }
    }
}


@media screen and (min-width: 700px) {
    .spell {
        &-video {
            &-container {
                width: 75%;
                height: 75%;
            }
        }
    }
}
  