<div class="guide">
    <div class="guide-summon">
        <h1 class="guide-label">How to Summon</h1>
        <mat-divider></mat-divider>
        <img class="guide-summon-image"
        src="https://i.imgur.com/q3NL1Of.jpg"
        alt="location-image"
        width="1344" height="448"/>
        <p class="guide-summon-description">
            Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 80</span> 
            before approaching this boss as you will get no experience nor loot if you're below that threshold.
            <br>
            <br> 
            This boss is the second boss you ecounter in the Avalon Scenario, alongside Gatekeeper and Corrupt Angel. To summon these bosses, get 4 White Stones from 
            either the deposits at the Cave Entrance (Teleport 4) if you have a chaos pick or above, or the white stone deposits at the Duchy of Wallachia (Teleport 7). Then, bring
            the stones into the Cave, toward the white stones at the very end, as shown above. Avalon will appear in front of the Cave Entrance, where you'll
            have to fight (or run past) Avalon Defenders and Protectors and kill the Gatekeeper.</p>
    </div>
    <div class="guide-overall">
        <h1 class="guide-label">Overall</h1>
        <mat-divider></mat-divider>
        <p class="guide-overall-description">
            <br>
            Since there are three of these angels, you'll have to run past the first Angel and get the attention of the other two angels. Then, when they're all together, 
            use all of your AoE spells, then pick off the stragglers. However, if you can't pull that off, then kite one Angel at a time and go back to the entrance to kill it. 
            You'll get loot once all three are dead. Make sure to kill these guys before an hour passes when they are first summoned or else you won't be able to save your character!</p>
        <div class="guide-spells">
            <h1 class="guide-label">Spells</h1>
            <mat-divider></mat-divider>
            <app-enemy-spell-display [category]="enemy.category" [skills]="skills"></app-enemy-spell-display>
        </div>
    </div>
    <div class="guide-kill">
        <h1 class="guide-label">Kill Video</h1>
        <mat-divider style="margin-bottom: 20px;"></mat-divider>
        <!-- <iframe controls=0 width="1120" height="630" src="https://www.youtube-nocookie.com/embed/CisSrIzTCvE?autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=2&showinfo=1&rel=0" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="align-self: center;"></iframe> -->
    </div>
</div>