<div class="guide">
    <div class="guide-summon">
        <h1 class="guide-label">How to Summon</h1>
        <mat-divider></mat-divider>
        <img class="guide-summon-image"
        src="https://i.imgur.com/qzymPtc.jpg"
        alt="location-image"
        width="896" height="448"/>
        <p class="guide-summon-description">
            Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 80</span> 
            before approaching this boss as you will get no experience nor loot if you're below that threshold.
            <br>
            <br> 
            This boss is the third boss you ecounter in the Avalon Scenario, alongside Gatekeeper and the three Guardian Angels. To summon these bosses, get 4 White Stones from 
            either the deposits in front of Cave Entrance (Teleport 4) if you have a chaos pick or above, or the white stone deposits at the Duchy of Wallachia (Teleport 7). Then, bring
            the stones into the Cave, toward the white stones at the very end of the cave, as shown above. Avalon will appear in front of the cave. However, instead of going to Avalon, go to 
            the Frosty Snowfield (Teleport 6) and wait for him in front of the obelisk, he will appear after 90 seconds.</p>
    </div>
    <div class="guide-overall">
        <h1 class="guide-label">Overall</h1>
        <mat-divider></mat-divider>
        <p class="guide-overall-description">
            <br>
            This boss is like all the other minor bosses. Make sure to keep stunning him whenever he casts a spell so he keeps trying to cast it, giving you more time for you to kill him.
            Run away when he uses Craze or Judgement of Darkness.</p>
        <div class="guide-spells">
            <h1 class="guide-label">Spells</h1>
            <mat-divider></mat-divider>
            <app-enemy-spell-display [category]="enemy.category" [skills]="skills"></app-enemy-spell-display>
        </div>
    </div>
    <div class="guide-kill">
        <h1 class="guide-label">Kill Video</h1>
        <mat-divider style="margin-bottom: 20px;"></mat-divider>
        <!-- <iframe controls=0 width="1120" height="630" src="https://www.youtube-nocookie.com/embed/CisSrIzTCvE?autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=2&showinfo=1&rel=0" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="align-self: center;"></iframe> -->
    </div>
</div>