<div class="guide">
    <div class="guide-summon">
        <h1 class="guide-label">How to Summon</h1>
        <mat-divider></mat-divider>
        <img class="guide-summon-image"
        src="https://i.imgur.com/tfCnmyJ.jpg"
        alt="location-image"
        width="1344" height="448"/>
        <p class="guide-summon-description">
            Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 90</span> 
            before approaching this boss as you will get no experience nor loot if you're below that threshold.
            <br>
            <br> 
            This boss will be part of the waves in the Expedition Scenario, alongside Frostspider Queen. To summon this boss, get 6 Blue Stones from 
            either the deposits at the Cave Entrance (Teleport 4) if you have an Abyssal Pickaxe or above, or the blue stone deposits at Frosty Snowfield (Teleport 6). Then, talk to the captain 
            of the expedition at the Frosty Snowfield, and bring the stones to the circle surrounded by 3 Prius Magus. You will then be assaulted by waves of Frost Spiders, Frost Skirmishers, and 
            Frostvemon Spiders. Go near the green spiders to trigger their explosion (and run away from them) and use AoE on the other spiders. Near the end of the waves, both Soul of
             Everfrost and Frostspider Queen will arrive.</p>
            <div class="guide-minions">
                <h1 class="guide-label">Minions</h1>
                <mat-divider></mat-divider>
                <div class="minion-container">
                <button mat-icon-button class="minion-button" (click)="openEnemyDetails('Frost Spider')">
                    <img class="button-image" src="{{ getEnemyImageURL('Frost Spider') }}"
                    alt="thumbnail"/>
                </button>
                <button mat-icon-button class="minion-button" (click)="openEnemyDetails('Frost Skirmisher')">
                    <img class="button-image" src="{{ getEnemyImageURL('Frost Skirmisher') }}"
                    alt="thumbnail"/>
                </button>
                <button mat-icon-button class="minion-button" (click)="openEnemyDetails('Frostvemon Spider')">
                    <img class="button-image" src="{{ getEnemyImageURL('Frostvemon Spider') }}"
                    alt="thumbnail"/>
                </button>
                </div>
            </div> 
    </div>
    
    <div class="guide-overall">
        <h1 class="guide-label">Overall</h1>
        <mat-divider></mat-divider>
        <p class="guide-overall-description">
            <br>
            Depending if he comes first or second will determine your strategy. Don't die or else they'll have a chance to kill the Prius Mages and end the Scenario. 
            Stun whenever he is channeling and use your AOE on his Frozen Souls. If he comes first, focus him down before the Frostspider Queen. If he comes second, focus the Queen.</p>
        <div class="guide-spells">
            <h1 class="guide-label">Spells</h1>
            <mat-divider></mat-divider>
            <app-enemy-spell-display [category]="enemy.category" [skills]="skills"></app-enemy-spell-display>
        </div>
    </div>
    <div class="guide-kill">
        <h1 class="guide-label">Kill Video</h1>
        <mat-divider style="margin-bottom: 20px;"></mat-divider>
        <iframe src="https://drive.google.com/file/d/1FULsxM7tT5owFIqsI_WJDG7R73TSBrwj/preview" width="960" height="720" allow="autoplay" allowfullscreen style="align-self: center;" frameborder="0"></iframe>
    </div>
</div>