<div class="guide">
    <div class="guide-summon">
        <h1 class="guide-label">How to Summon</h1>
        <mat-divider></mat-divider>
        <img class="guide-summon-image"
        src="{{ getLocationAsset(enemy.name) }}"
        alt="location-image"/>
        <p class="guide-summon-description">
            Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 90</span> 
            before approaching this boss as you will get no experience nor loot if you're below that threshold.
            <br>
            <br> 
            This boss will be part of the waves in the Expedition Scenario, alongside Frostspider Queen. To summon this boss, get 6 Blue Stones from 
            either the deposits in front of golem cave (Teleport 4) if you have a chaos pick or above, or the blue stone deposits at Snowy Hills (Teleport 6). Then, talk to the captain 
            of the expedition at Snow Hills (Teleport 6), and bring the stones to the circle surrounded by 3 Prius Magus. You will then be assaulted by waves of Frost Spiders, Frost Skirmishers, and 
            Frostvemon Spiders. Go near the green spiders to trigger their explosion (and run away from them) and use AoE on the other spiders. Near the end of the waves, both Soul of
             Everfrost and Frostspider Queen will arrive.</p>
            <div class="guide-minions">
                <h1 class="guide-label">Minions</h1>
                <mat-divider></mat-divider>
                <div class="minion-container">
                <button mat-icon-button class="minion-button" (click)="openEnemyDetails('Frost Spider')">
                    <img class="button-image" src="{{ getEnemyImageURL('Frost Spider') }}"
                    alt="thumbnail"/>
                </button>
                <button mat-icon-button class="minion-button" (click)="openEnemyDetails('Frost Skirmisher')">
                    <img class="button-image" src="{{ getEnemyImageURL('Frost Skirmisher') }}"
                    alt="thumbnail"/>
                </button>
                <button mat-icon-button class="minion-button" (click)="openEnemyDetails('Frostvemon Spider')">
                    <img class="button-image" src="{{ getEnemyImageURL('Frostvemon Spider') }}"
                    alt="thumbnail"/>
                </button>
                </div>
            </div> 
    </div>
    
    <div class="guide-overall">
        <h1 class="guide-label">Overall</h1>
        <mat-divider></mat-divider>
        <p class="guide-overall-description">
            <br>
            Depending if he comes first or second will determine your strategy. Don't die or else they'll have a chance to kill the Prius Mages and end the Scenario. 
            Stun whenever he is channeling and use your AOE on his Frozen Souls. If he comes first, focus him down before the Frostspider Queen. If he comes second, focus the Queen.</p>
        <div class="guide-spells">
            <h1 class="guide-label">Spells</h1>
            <mat-divider></mat-divider>
            <mat-accordion class="spell-container">
                <mat-expansion-panel hideToggle *ngFor="let spell of skills" style="background-color: #151515;align-self: center; width: 100%;">
                  <mat-expansion-panel-header style="height:100px">
                    <mat-panel-title class="spell-name" style="color:#ff8c00" *ngIf=spell.active>
                      {{spell.name}}
                    </mat-panel-title>
                    <mat-panel-title class="spell-name" style="color:#ff1493" *ngIf=spell.passive>
                        {{spell.name}}
                      </mat-panel-title>
                      <mat-panel-title class="spell-name" *ngIf=spell.trigger style="color:#8a2be2">
                        {{spell.name}}
                      </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div class="spell">
                    <div class="spell-details">
                        <div class="spell-description" style="color:#ff8c00" *ngIf=spell.active>
                            <div class="spell-detail-label" style="color:#ff8c00" *ngIf=spell.active>Active</div>
                            <ng-container *ngFor="let line of spell.active">
                                <span class="spell-active">❖ {{line}}<br></span>
                            </ng-container>
                        </div>
                        <div class="spell-description" style="color:#ff1493" *ngIf=spell.passive>
                            <div class="spell-detail-label" style="color:#ff1493" *ngIf=spell.passive>Passive</div>
                            <ng-container *ngFor="let line of spell.passive">
                                <span class="spell-passive">⁘ {{line}}<br></span>
                            </ng-container>
                        </div>
                        <div class="spell-description" *ngIf=spell.trigger>
                            <div class="spell-detail-label" *ngIf=spell.trigger style="color:#8a2be2">Event</div>
                            <ng-container *ngFor="let line of spell.trigger">
                                <span class="spell-trigger" style="color:#8a2be2">※ {{line}}<br></span>
                            </ng-container>
                        </div>
                        <ng-container *ngFor="let summon of spell.summons">
                            <button mat-icon-button class="summon-button" (click)="openEnemyDetails(summon)">
                                <img class="button-image" src="{{ getEnemyImageURL(summon) }}"
                                alt="thumbnail" style="width:100%"/>
                                </button>
                        </ng-container>
                        <div style="margin-top: auto;">
                            <div class="spell-cost" *ngIf="spell.cost">
                                <img/> Cost: {{spell.cost}} Resource
                            </div>
                            <div class="spell-cooldown" *ngIf="spell.cooldown">
                                <img/> Cooldown: {{spell.cooldown}} second(s)
                            </div>
                        </div>
        
                    </div>
                    <img class="spell-image" style="width:320px;height:320px;" [style.background-color]="enemy.color"/>
                </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>