<div class="guide">
    <div class="guide-summon">
        <h1 class="guide-label" [style.color]="enemy.color">How to Summon</h1>
        <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
        <img class="guide-summon-image"
        src="https://i.imgur.com/9Z1iQ2t.jpg"
        alt="location-image"
        width="1344" height="448"/>
        <p class="guide-description">
            Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 100</span> AND at least <b><u>high-level geared</u></b> before approaching this boss. It's recommended master Valtora first.
            <br>
            <br> 
            To get to this boss, first gather <span style="color:#b19cd9">3 Chaos Magic Stones</span> from killing <span style="color:#b19cd9">Chaos Elementals</span> in front of the 
            Elemental Tower <span style="color:#FFD700">(Teleport Q-2)</span> which is also below Golem Cave <span style="color:#FFD700">(Teleport 4)</span>, or if you have an 
            <span style="color:#52E252">Chaos Pickaxe</span>, you can mine directly from the Stone Deposit inside the tower <span style="color:#FFD700">(Teleport Q-2)</span>.  You'll also need 3 Red Stones from 
            either the <span style="color:#ff9ca4">Red Stone Deposits</span> at Volcanic Lands <span style="color:#FFD700">(Teleport 8)</span> 
            or in front of the Cave Entrance <span style="color:#FFD700">(Teleport 4)</span> if you have an <span style="color:#52E252">Abyssal Pickaxe</span> or above. 
            Then bring the stones to the Tinkerer in the center of the tower and craft the <span [style.color]='enemy.color'>Key of Flame</span>, 
            then bring it to the bottom-most teleport to enter <span [style.color]='enemy.color'>Ifrit's Room</span>.</p>
    </div>
    <div class="guide-overall">
        <h1 class="guide-label" [style.color]="enemy.color">Overall</h1>
        <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
        <p class="guide-description">
            <br>
            <span [style.color]='enemy.color'>Ifrit</span> can either be really fast or really slow depending on your team. It's recommended to have cleanses and some damage mitigation spells for this fight.
            <br>
            <br>
            <span [style.color]='enemy.color'>Ifrit</span> will begin the fight with all of his spells at <span style="color:#90EE90">90% HP</span>, all of which have easy tells. The first spell he'll cast is <span [style.color]='enemy.color'>Hot Pursuit</span>, which he will cast 
            <span style="color:#FFD700">every 25 seconds</span>. <span [style.color]='enemy.color'>Ifrit</span> will push everyone away and wind up for <span style="color:#FFD700">1.5 seconds</span> 
            a charge. <span style="color:#FF6666">ALWAYS POSITION YOURSELF SO YOU DON'T LAND IN THE LAVA PITS</span>. These Lava Pits will deal <span style="color:#FFFF99">25% max HP damage per second</span>. He will then pick a random person and charge at them. Please, for the love of god, stand still for at least <u>one second</u> if you're targeted before moving as it 
            will give others the chance to move out of the way. <span [style.color]='enemy.color'>Ifrit</span> will lock on and chase you until he hits the wall. You can dodge the charge by flying, however <span style="color:#9acd32">THE IMPACT KILL INSTA-KILL YOU</span>. Don't stand to the side of him or you'll get <span [style.color]='enemy.color'>Hellfire</span>.
            <br>
            <br>
            The next spell he'll cast is <span [style.color]='enemy.color'>Flame Meteor</span>, which sends two Meteors to a random location around <span [style.color]='enemy.color'>Ifrit</span>. This spell will more or less always be up throughout the entire fight. Stand diagonal to the meteor to 
            avoid the impact and the waves that will apply <span [style.color]='enemy.color'>Hellfire</span>. These meteors can stack so be careful. The last spell he'll cast is <span [style.color]='enemy.color'>Seed of Flame</span>, this is where you'll need some damage mitigation. Whenever you see a timer on someone, GATHER. You'll need to make sure everyone is in 
            the stack before cleansing. This spell will deal MASSIVE damage to those who are affected by <span [style.color]='enemy.color'>Hellfire</span>.
            </p>
        <br>
        <app-enemy-spell-display 
        [caster]="'Ifrit'" 
        [category]="enemy.category" 
        [skills]="getSkills(skills['Ifrit'], ['Hot%20Pursuit', 'Flame%20Meteor', 'Seed%20of%20Flame', 'Hellfire'])" 
        style="width: 90%; align-self: center;"></app-enemy-spell-display>
        <p class="guide-description">
            <br>
                Alongside <span [style.color]='enemy.color'>Ifrit's</span> spells, you also have to prevent him from attacking. Have one person kite <span [style.color]='enemy.color'>Ifrit</span> while the rest of the party will deal with the mechanics. <span [style.color]='enemy.color'>Ifrit</span> has a chance to dramatically increase his attack speed. 
                Everytime <span [style.color]='enemy.color'>Ifrit</span> attacks he will spawn two <span [style.color]='enemy.color'>Magma</span> which will slowly walk towards <span [style.color]='enemy.color'>Ifrit</span>. On contact they will heal him for 
                <span style="color:#90EE90">0.5% HP</span>. If there's a lot of them, kill them.
            <br><br>
        </p>
        <app-enemy-spell-display 
        [caster]="'Ifrit'" 
        [category]="enemy.category" 
        [skills]="getSkills(skills['Ifrit'], ['Explosive%20Strike', 'Raging%20Flame'])" 
        style="width: 90%; align-self: center;"></app-enemy-spell-display>
        <p class="guide-description">
        <br>
            <span [style.color]='enemy.color'>Ifrit's</span> main mechanic is that every <span style="color:#90EE90">10% HP interval</span>, he will summon two <span [style.color]='enemy.color'>Lava Spirits</span>. These spirits will have a 
            <span style="color:#FFD700">40 second timer</span> before they will cast <span [style.color]='enemy.color'>Fiery Bullet</span>, which deals small amounts of damage, but they will interrupt their 
            victims for 5 seconds. Ifrit can be trigger on the same <span style="color:#90EE90">10% HP interval</span> multiple times if he goes beyond 10% above the interval. Kill them ASAP. When they die, they will unleash a wave in a 'X' pattern similar to <span [style.color]='enemy.color'>Flame Meteor</span>.</p>
            <br>
        <div class="guide-spells">
            <h1 class="guide-label" [style.color]="enemy.color">Lava Spirit Spells</h1>
            <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
            <app-enemy-spell-display [caster]="'Lava Spirit'" [category]="enemy.category" [skills]="skills['Lava Spirit']"></app-enemy-spell-display>
        </div>

        <p class="guide-description">
            <br>
            When the boss reaches <span style="color:#90EE90">75% HP</span>, he will begin his intermission phase, where he will create a giant wheel separated into five sections and <span [style.color]='enemy.color'>two Obsidian Golems</span>. This wheel will last 
            <span style="color:#FFD700">30 seconds</span>, which is enough for these Golems to get 
            full mana and cast their own <span [style.color]='enemy.color'>Hot Pursuit</span>. <span style="color:#FF6666">DO NOT TOUCH THE WHEEL. If you are not immune to magic this will deal 68139 Magic Damage per second and stunned for 5 seconds</span>. There will always be one 
            <span [style.color]='enemy.color'>Flame Meteor</span> being cast during the wheel as the golems chase you. These golems will start out with <span style="color:#FFFF99">60% to 100% Damage Reduction</span>, depending on the size of the team. 
            This reduction can be broken like a shield. Here are the known amounts for each break per hit: 
            </p>
            <ul class="guide-description">
                <li>ANY Item's active- 10% per hit</li>
                <li>Hermit[F] - 10% per hit</li>
                <li>Knight[W] - 20%</li>
                <li>Meteor direct impact - 30%</li>
                <li>Int Dark Knight [RR] - 30% per hit</li>
                <li>Witch[T-Q] - 30%</li>
                <li>Lancer[E] - 40%</li>
                <li>Thunderer[Full Mana R] - 60%</li>
                <li>LightningMage[F] - 100%</li>
            </ul>
            <br>
            <app-enemy-spell-display 
            [caster]="'Ifrit'" 
            [category]="enemy.category" 
            [skills]="getSkills(skills['Ifrit'], ['Volcanic%20Party'])" 
            style="width: 90%; align-self: center;"></app-enemy-spell-display>
            <div class="guide-spells">
                <h1 class="guide-label" [style.color]="enemy.color">Obsidian Golem Spells</h1>
                <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
                <app-enemy-spell-display [caster]="'Obsidian Golem'" [category]="enemy.category" [skills]="skills['Obsidian Golem']"></app-enemy-spell-display>
            </div>
        <p class="guide-description">
            <br>
            After the wheel, just gather up the Golems and kill them together. That's pretty much how the boss works until it is finished. At <span style="color:#90EE90">50% max HP</span>, <span [style.color]='enemy.color'>Seed of Flame</span> will now target two people and there will be <span [style.color]='enemy.color'>three Flame Meteor</span> per cast.
            The next intermission will happen at <span style="color:#90EE90">25% max HP</span>, where there will also 
            be <span [style.color]='enemy.color'>two Lava Spirits</span> with each <span [style.color]='enemy.color'>Obsidian Golem</span>. You can either kill the <span [style.color]='enemy.color'>Lava Spirits</span> or just 
            ignore them and stun them. <span style="color:#ADD8E6">Golems will also regenerate mana 50% faster</span>. 
            It is recommended that you just fast burst after the second intermission and then you're done. This boss is a bit of a grind at first as you'll have to kill every <span [style.color]='enemy.color'>Lava Spirit</span> before going into the intermission, 
            but once you've mastered it you'll be able to kill it extremely quickly.
         </p>
         <div class="guide-minions">
            <h1 class="guide-label" [style.color]="enemy.color">Minions</h1>
            <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
            <div class="minion-container">
            <button mat-icon-button class="minion-button" (click)="openMinionDetails('Lava Spirit')">
                <img class="button-image" src="{{ getEnemyImageURL('Lava Spirit') }}"
                alt="thumbnail"
                width="100%"/>
            </button>
            <button mat-icon-button class="minion-button" (click)="openMinionDetails('Obsidian Golem')">
                <img class="button-image" src="{{ getEnemyImageURL('Obsidian Golem') }}"
                alt="thumbnail"
                width="100%"/>
            </button>
            <button mat-icon-button class="minion-button" (click)="openMinionDetails('Magma')">
                <img class="button-image" src="{{ getEnemyImageURL('Magma') }}"
                alt="thumbnail"
                width="100%"/>
            </button>
            </div>
        </div> 
    </div>
    <div class="guide-kill">
        <h1 class="guide-label" [style.color]="enemy.color">Kill Video</h1>
        <mat-divider style="margin-bottom: 20px;" [style.border-top-color]="enemy.color"></mat-divider>
        <iframe class="guide-kill-video" src="https://drive.google.com/file/d/1M8uyaT_nE1Ard2YNzOJ9IVoBuWJrBt3W/preview" allow="autoplay" allowfullscreen style="align-self: center;" frameborder="0"></iframe>
    </div>
</div>