<div class="options">
  <div class="sorters">
    <mat-form-field>
        <mat-label>Sort</mat-label>
        <mat-select
          panelClass="sort-select"
          [(ngModel)]="sort"
          (selectionChange)="getItems(sort, itemSearch)"
        >
          <mat-option value="name">Name</mat-option>
          <mat-option value="grade">Grade</mat-option>
          <mat-option value="grade-rev">Grade Rev.</mat-option>
          <mat-option value="drop">Drop Rate (Low to High)</mat-option>
          <mat-option value="drop-rev">Drop Rate (High to Low)</mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <mat-button-toggle-group multiple class="filters" #group="matButtonToggleGroup" (change)="toggleFilters(group.value)">
    <mat-button-toggle class="filter-button" *ngFor="let filter of getFilterNames(filterOptions);" [value]="filter">{{filter}}</mat-button-toggle>
  </mat-button-toggle-group>

</div>

<div class="items">
  <ng-container *ngFor="let item of items">
    <div class="item" (click)="openItemDetails(item.name)">
      <div class="item-thumb-container">
          <img
          *ngIf="item.name"
          src="{{ getItemImageURL(item.name) }}"
          alt="thumbnail"
          />
          <img
          *ngIf="!item.name"
          src="https://avatars.githubusercontent.com/u/15093212?v=4"
          alt="thumbnail"
          />
      </div> 
      <div class="item-description">
        <span class="item-name"> {{ item.name }}</span>
        <div class="item-descript">
          <span class="item-rank"  *ngIf="item.rank" [style.color]="item.color">{{ item.rank }}&nbsp;</span>
          <span class="item-level" *ngIf="item.level">Lvl. {{ item.level }}&nbsp;</span>
          <span class="item-grade"  *ngIf="item.grade" [style.color]="grade[item.grade].color">{{ grade[item.grade].name }}&nbsp;</span>
          <span class="item-type"  *ngIf="item.type" >{{ item.type }}</span>
        </div>  
        <p class="item-quote">{{ item.description }}</p>
      </div>
    </div>
  </ng-container>

</div>