<div class="guide">
    <div class="guide-summon">
        <h1 class="guide-label" [style.color]="enemy.color">How to Summon</h1>
        <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
        <img class="guide-summon-image"
        src="https://i.imgur.com/q3NL1Of.jpg"
        alt="location-image"/>
        <p class="guide-description">
            Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 80</span> 
            before approaching this boss as you will get no experience nor loot if you're below that threshold.
            <br>
            <br> 
            This boss is the first boss you ecounter in the Avalon Scenario, alongside the three Guardian Angels and Corrupt Angel. To summon these bosses, get 4 White Stones from 
            either the Deposits at the Cave Entrance (Teleport 4) if you have an Abyssal Pickaxe or above, or the white Stone Deposits at the Duchy of Wallachia (Teleport 7). Then, bring
            the Stones into the Cave, toward the white Stones at the very end, as shown above. Avalon will appear in front of the Cave Entrance, where you'll
            have to fight (or run past) Avalon Defenders and Protectors until you reach the Gatekeeper.</p>
        <div class="guide-minions">
            <h1 class="guide-label" [style.color]="enemy.color">Minions</h1>
            <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
            <div class="minion-container">
            <button mat-icon-button class="minion-button" (click)="openMinionDetails('Avalon Defender')">
                <img class="button-image" src="{{ getEnemyImageURL('Avalon Defender') }}"
                alt="thumbnail"/>
            </button>
            <button mat-icon-button class="minion-button" (click)="openMinionDetails('Avalon Protector')">
                <img class="button-image" src="{{ getEnemyImageURL('Avalon Protector') }}"
                alt="thumbnail"/>
            </button>
            </div>
        </div> 
    </div>
    <div class="guide-overall">
        <h1 class="guide-label" [style.color]="enemy.color">Overall</h1>
        <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
        <p class="guide-description">
        <br>
        This boss is pretty simple as it only has one spell to avoid, Genocide Sword, which has a long wind-up.</p>
        <div class="guide-spells">
            <h1 class="guide-label" [style.color]="enemy.color">Spells</h1>
            <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
            <app-enemy-spell-display [caster]="enemy.name" [category]="enemy.category" [skills]="skills"></app-enemy-spell-display>
        </div>
    </div>
    <div class="guide-kill">
        <h1 class="guide-label" [style.color]="enemy.color">Kill Video</h1>
        <mat-divider style="margin-bottom: 20px;" [style.border-top-color]="enemy.color"></mat-divider>
        <iframe class="guide-kill-video" src="https://drive.google.com/file/d/1xqwoAqdBkGanbuujqykOLG4sI0ndmljt/preview" allow="autoplay" allowfullscreen style="align-self: center;" frameborder="0"></iframe>
    </div>
</div>