<div class="guide">
    <div class="guide-summon">
        <h1 class="guide-label">How to Summon</h1>
        <mat-divider></mat-divider>
        <img class="guide-summon-image"
        src="{{ getLocationAsset(enemy.name) }}"
        alt="location-image"/>
        <p class="guide-summon-description">
            Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 80</span> 
            before approaching this boss as you will get no experience nor loot if you're below that threshold.
            <br>
            <br> 
            This boss is the first boss you ecounter in the Avalon Scenario, alongside the three Guardian Angels and Corrupt Angel. To summon these bosses, get 4 White Stones from 
            either the deposits in front of golem cave (Teleport 4) if you have a chaos pick or above, or the white stone deposits in Wallachia (Teleport 7). Then, bring
            the stones into the Golem Cave, toward the white stones at the very end of the cave, as shown above. Avalon will appear in front of the cave, where you'll
            have to fight (or run past) Avalon Defenders and Protectors until you reach the Gatekeeper.</p>
        <div class="guide-minions">
            <h1 class="guide-label">Minions</h1>
            <mat-divider></mat-divider>
            <div class="minion-container">
            <button mat-icon-button class="minion-button" (click)="openEnemyDetails('Avalon Defender')">
                <img class="button-image" src="{{ getEnemyImageURL('Avalon Defender') }}"
                alt="thumbnail"/>
            </button>
            <button mat-icon-button class="minion-button" (click)="openEnemyDetails('Avalon Protector')">
                <img class="button-image" src="{{ getEnemyImageURL('Avalon Protector') }}"
                alt="thumbnail"/>
            </button>
            </div>
        </div> 
    </div>
    <div class="guide-overall">
        <h1 class="guide-label">Overall</h1>
        <mat-divider></mat-divider>
        <p class="guide-overall-description">
        <br>
        This boss is pretty simple as it only has one spell to avoid, Genocide Sword, which has a long wind-up.</p>
        <div class="guide-spells">
            <h1 class="guide-label">Spells</h1>
            <mat-divider></mat-divider>
            <mat-accordion class="spell-container">
                <mat-expansion-panel hideToggle *ngFor="let spell of skills" style="background-color: #151515;width:1200px;align-self: center; width: 100%;">
                  <mat-expansion-panel-header style="height:100px">
                    <mat-panel-title class="spell-name" [style.color]="spell.color"> {{spell.name}}</mat-panel-title>
                  </mat-expansion-panel-header>
                <div class="spell">
                    <div class="spell-details">
                        <div class="spell-description" [style.color]="spell.color">
                            <div class="spell-detail-label">{{ capitalizeFirstLetter(spell.type) }}</div>
                            <ng-container *ngFor="let line of spell.description">
                                <span class="spell-active" *ngIf="spell.type=='active'">❖ {{line}}<br></span>
                                <span class="spell-passive" *ngIf="spell.type=='passive'">⁘ {{line}}<br></span>
                                <span class="spell-trigger" *ngIf="spell.type=='trigger'">※ {{line}}<br></span>
                            </ng-container>
                        </div>
                        <ng-container *ngFor="let summon of spell.summons">
                            <button mat-icon-button class="summon-button" (click)="openEnemyDetails(summon)">
                                <img class="button-image" src="{{ getEnemyImageURL(summon) }}"
                                alt="thumbnail" style="width:100%"/>
                                </button>
                        </ng-container>
                        <div style="margin-top: auto;">
                            <div class="spell-cost" *ngIf="spell.cost">
                                <img/> Cost: {{spell.cost}} Resource
                            </div>
                            <div class="spell-cooldown" *ngIf="spell.cooldown">
                                <img/> Cooldown: {{spell.cooldown}} second(s)
                            </div>
                        </div>
                    </div>
                    <img class="spell-image" style="width:320px;height:320px;" [style.background-color]="enemy.color"/>
                </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
</div>