<div class="guide">
    <div class="guide-summon">
        <h1 class="guide-label">Location</h1>
        <mat-divider></mat-divider>
        <img class="guide-summon-image"
        src="https://i.imgur.com/Mwl2S3I.jpg"
        alt="location-image"
        width="1344" height="448"/>
        <p class="guide-summon-description">
            Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 100</span> 
            before approaching this boss as you will get no loot if you're below that threshold. Also if you're not being carried, 
            have at least Mid level gear before attempting to make your life easier.
            <br>
            <br> 
            To find this boss, go to the Volcanic Lands (Teleport 8) and go far east, into the Dragon Lair. He'll be in the giant grove in the south.</p>
    </div>
    <div class="guide-overall">
        <h1 class="guide-label">Overall</h1>
        <mat-divider></mat-divider>
        <p class="guide-overall-description">
            <br>
            As the first High boss, this guy is pretty tough if you're unprepared. You'll require someone who can <span style="color:#90EE90">tank 50% max hp damage every 8 seconds</span> due to his Swipe ability 
            he'll be using all game. You'll also require good positioning for his Hell Spikes. 
            <br>
            <br>
            Bone Dragon has two Phases: a calm phase, and enraged phase. The duration of his rage phase depends on his mana. So it is important to drain all of his mana during this phase or else he'll go into this 
            mode twice with the remaining mana.
            <br>
            <br>
            Bone Dragon starts out in his calm phase, where he will have access to the spells: Swipe, Flame Breath, and Petrification. Make sure to have someone to take every Swipe, or else Bone Dragon 
            will wipe the entire team! Be prepared for anything as Bone Dragon can quickly change aggro and turn and swipe. Whenever Bone Dragon says "Freeze!!!", just turn around and you'll be fine, or else 
            you'll be trapped for 10 seconds. If he uses Flame Breath on top of that, you're pretty much screwed as the Flame Spirits will kill you. Flame breath is pretty easy to dodge when unfrozen, 
            just keep moving.
            <br>
            <br>
            At <span style="color:#90EE90">50% HP</span>, Bone Dragon will appear in the middle of the arena in his Rage Mode. He'll gain <span style="color:#FFFF99">75% Damage Reduction</span> and gain 2% max HP per second at the cost of 2 mana per second. During this mode, he will be unable to 
            use Petrification. Instead, he'll be able to use Hell Spike for the rest of the fight. Make sure your party deals at least 10% max hp to him during this form, so you don't have to deal with this mode 
            twice.
            <br>
            <br></p>
            <app-enemy-spell-display [category]="enemy.category" [skills]="getSkills(skills, ['Dragon%27s%20Rage'])" style="width: 90%; align-self: center;"></app-enemy-spell-display>
            <p class="guide-overall-description">
            <br>
            To deal with Hell Spike, place the first two somewhere near the middle of the arena, so there's room to maneuver to hide from the third Hell Spike (see video below). Other than that, once he's 
            off his Rage mode, he'll gain Petrification again, but keep his Hell Spike. Keep going and he'll be dead in no time.
            </p>
            <app-enemy-spell-display [category]="enemy.category" [skills]="getSkills(skills, ['Hell%20Spike'])" style="width: 90%; align-self: center;"></app-enemy-spell-display>
            <div class="guide-video-container" style="align-self: center;">
                <video class="guide-video" controls style="align-self: center; width: 500px; height: 400px;">
                    <source src="https://ia601408.us.archive.org/8/items/bd_20210804/BD.mp4" type="video/mp4"/>
                    Browser not supported
                </video>
            </div> 
        <div class="guide-spells">
            <h1 class="guide-label">Spells</h1>
            <mat-divider></mat-divider>
            <app-enemy-spell-display [category]="enemy.category" [skills]="getRemainingSkills(skills)"></app-enemy-spell-display>
        </div>
    </div>
    <div class="guide-kill">
        <h1 class="guide-label">Kill Video</h1>
        <mat-divider style="margin-bottom: 20px;"></mat-divider>
        <!-- <iframe src="https://ia801506.us.archive.org/24/items/TWRPGGuidebook/0Hydra%2FStomp.ia.mp4" width="640" height="480" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe> -->
    </div>
</div>