<div class="guide">
    <div class="guide-summon">
        <h1 class="guide-label" [style.color]="enemy.color">How to Summon</h1>
        <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
        <img class="guide-summon-image"
        src="https://i.imgur.com/VxdUC8W.jpg"
        alt="location-image"/>
        <p class="guide-description">
            Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 50</span> 
            before approaching this boss as you'll get no experience nor loot if you're below that threshold.
            <br>
            <br> 
            To summon this boss, first, with any pickaxe, gather <span style="color:#0288d1">12 Blue Stones</span> from any <span style="color:#0288d1"> Blue Stone Deposit</span> 
            in the Frosty Snowfield <span style="color:#FFD700">(Teleport 6)</span> or if you have an 
            <span style="color:#52E252">Abyssal Pickaxe</span> or above, 
            you can mine directly from the Stone Deposits in front of the golem cave <span style="color:#FFD700">(Teleport 4)</span>.  
            Then, bring the stones to the 
            Old Man within the Deep Snowfield where he will use the <span style="color:#0288d1"> Blue Stones</span> to unlock 
            <span [style.color]='enemy.color'>Shadow Dragon's lair</span>.</p>
    </div>
    <div class="guide-overall">
        <h1 class="guide-label" [style.color]="enemy.color">Overall</h1>
        <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
        <p class="guide-description">
            <br>
            As the final High Boss, he does not hold any punches. <span [style.color]='enemy.color'>Shadow Dragon</span> begins with three spells: 
            <span [style.color]='enemy.color'>Shadow Breath</span>, <span [style.color]='enemy.color'>Dragonic Skin</span>, and 
            <span [style.color]='enemy.color'>Seal</span>. Super Armor is the same as <span style="color:#8a2be2">Skeleton King's</span> and he 
            can attack multiple people at once. To dodge <span [style.color]='enemy.color'>Shadow Breath</span>, whenever <span [style.color]='enemy.color'>Shadow Dragon</span> abruptly turns torward one person, don't stun him and run away from that line of sight. For <span [style.color]='enemy.color'>Dragonic Skin</span>, you'll 
            need to exercise some patience, else risk healing <span [style.color]='enemy.color'>Shadow Dragon</span> back to full. You can also break <span [style.color]='enemy.color'>Dragonic Skin</span>. There is no counter for <span [style.color]='enemy.color'>Seal</span>, just keep the person on fire away from everyone else. 
            At <span style="color:#90EE90">50% max HP</span>, he will regain all health and use his <span [style.color]='enemy.color'>Illusions of Shadow</span>. 
            Which creates one <span [style.color]='enemy.color'>Large Illusion</span> and <span [style.color]='enemy.color'>3 other Illusions</span>. Watch out for the barely visible <span [style.color]='enemy.color'>Shadow Runes</span> on the floor, they will silence anyone that steps on them 
            and they will keep spawning throughout the fight from this point on! To make everyone's lives easier, if you're on cooldowns, then take as many as these as possible.
            </p>
            <app-enemy-spell-display 
            [caster]="enemy.name" 
            [category]="enemy.category" 
            [skills]="getSkills(skills, ['Illusions%20of%20Shadow', 'Shadow%20Rune'])" style="width: 90%; align-self: center;"></app-enemy-spell-display>
            <p></p>
            <p class="guide-description">
            <span [style.color]='enemy.color'>The Large Illusion</span> will have all of <span [style.color]='enemy.color'>Shadow Dragon</span>'s spells from the first phase 
            outside of Super Armor, and the other Illusions will just have <span [style.color]='enemy.color'>Shadow Breath</span>. <span style="color:#FF6666">DO NOT STACK THREE SMALL ILLUSIONS AND ONE LARGE ILLLUSION, doing this also results in a reset due to Bindings of Darkness</span>. Prioritize the 
            <span [style.color]='enemy.color'>Smaller Illusions</span> first by grouping them up and using your bursts on it. After they die, <span style="color:#FF6666">SPREAD</span>. 
            <span [style.color]='enemy.color'>Dark Detonation</span> will be cast on everyone in the arena. After the <span [style.color]='enemy.color'>Dark Detonation</span> is over, pull Large Illusion to the center so you don't take damage from the aura and kill it. Don't take your time 
            killing it either, if you spend longer than a few minutes, it will be unkillable, resulting in a reset. 
            <span [style.color]='enemy.color'>Dark Detonation</span> will happen again on its death.</p>
            <app-enemy-spell-display 
            [caster]="'Illusion of Irbert'" 
            [category]="enemy.category" 
            [skills]="getSkills(minionSkills['Illusion of Irbert'], ['Reinforcement%20of%20Darkness', 'Dark%20Detonation', 'Bindings%20of%20Darkness'])" 
            style="width: 90%; align-self: center;"></app-enemy-spell-display>
            <p></p>
            <p class="guide-description">
                After the <span [style.color]='enemy.color'>Illusions</span> are dead, <span [style.color]='enemy.color'>Shadow Dragon</span> will have unlocked his final two spells, but the fight is the same as the first phase. These spells require you to PAY ATTENTION to the surroundings. 
                Make sure you're always near at least one person for <span [style.color]='enemy.color'>Eternity link</span>. <span style="color:#9acd32">This spell will one-shot you if you have no one to link with</span>. If you're linked, move away from the other person ASAP. 
                Move in opposite directions. <span [style.color]='enemy.color'>Dark Blast</span> is pretty easy to dodge unless its on a hill where 
                it's not visible. <span [style.color]='enemy.color'>Dark Blast</span> goes through invulnerability effects.
                </p>
                <app-enemy-spell-display [caster]="enemy.name" [category]="enemy.category" [skills]="getSkills(skills, ['Eternity%20Link', 'Dark%20Blast'])" style="width: 90%; align-self: center;"></app-enemy-spell-display>
            <p></p>
                <p class="guide-description">
                Just be mindful of your environment and you'll kill this boss.
                </p>
            <div class="guide-spells">
            <h1 class="guide-label" [style.color]="enemy.color">Spells</h1>
            <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
            <app-enemy-spell-display [caster]="enemy.name" [category]="enemy.category" [skills]="getRemainingSkills(skills)"></app-enemy-spell-display>
        </div>
    </div>
    <div class="guide-kill">
        <h1 class="guide-label" [style.color]="enemy.color">Kill Video</h1>
        <mat-divider style="margin-bottom: 20px;" [style.border-top-color]="enemy.color"></mat-divider>
        <iframe class="guide-kill-video" src="https://drive.google.com/file/d/1M8uyaT_nE1Ard2YNzOJ9IVoBuWJrBt3W/preview" allow="autoplay" allowfullscreen style="align-self: center;" frameborder="0"></iframe>
    </div>
</div>