<div class="guide">
    <div class="guide-summon">
        <h1 class="guide-label">How to Summon</h1>
        <mat-divider></mat-divider>
        <img class="guide-summon-image"
        src="https://i.imgur.com/3T64Re7.jpg"
        alt="location-image"
        width="896" height="448"/>
        <p class="guide-summon-description">
            Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 60</span> 
            before approaching this boss as you will get no experience nor loot if you're below that threshold.
            <br>
            <br> 
            To summon this boss, first, gather 4 white stones from any white stone deposits at the Duchy of Wallachia (Teleport 7) or, if you have an Abyssal Pickaxe or above, 
            you can mine directly from the stone deposits at the Cave Entrance(Teleport 4). Use any pickaxe to gather the stones. Then, bring them in front of the 
            Church in East Wallachia, as shown above.</p>
    </div>
    <div class="guide-overall">
        <h1 class="guide-label">Overall</h1>
        <mat-divider></mat-divider>
        <p class="guide-overall-description">
            <br>
            This boss is also pretty straight-forward. Be careful at 50% HP as he will unleash his True Form for 10 seconds. During this form, he will have increased attack speed 
            and damage. Combined with his Death Bind, he will quickly make short work of you. If you keep your distance during this form until its over, 
            he'll go down like the rest. When he triggers his True Form he will unlock Requiem of Blood.</p>
            <app-enemy-spell-display [category]="enemy.category" [skills]="getSkills(['Unleash%20True%20Form', 'Requiem%20of%20Blood'])" style="width: 90%; align-self: center;"></app-enemy-spell-display>
        <div class="guide-spells">
            <h1 class="guide-label">Spells</h1>
            <mat-divider></mat-divider>
            <app-enemy-spell-display [category]="enemy.category" [skills]="getRemainingSkills()"></app-enemy-spell-display>
        </div>
    </div>
    <div class="guide-kill">
        <h1 class="guide-label">Kill Video</h1>
        <mat-divider style="margin-bottom: 20px;"></mat-divider>
        <iframe src="https://drive.google.com/file/d/1HO4daVt9nt5w6ypvmZQ07SIMYn_NZPdZ/preview" width="960" height="720" allow="autoplay" allowfullscreen style="align-self: center;" frameborder="0"></iframe>
    </div>
</div>