<div class="guide">
    <div class="guide-summon">
        <h1 class="guide-label" [style.color]="enemy.color">How to Summon</h1>
        <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
        <img class="guide-summon-image"
        src="https://i.imgur.com/qzymPtc.jpg"
        alt="location-image"/>
        <p class="guide-description">
            Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 80</span> 
            before approaching this boss as you'll get no experience nor loot if you're below that threshold.
            <br>
            <br> 
            This boss is the third boss you ecounter in the <span style="color:#FFD700">Avalon Scenario</span>, 
            alongside <span style="color:#bbbb04">Gatekeeper</span> and the <span style="color:#d1b004">three Guardian Angels</span>. To summon these bosses, get 4 White Stones from 
            either the Deposits in front of Cave Entrance <span style="color:#FFD700">(Teleport 4)</span> if you have an
             <span style="color:#52E252">Abyssal Pickaxe</span> or above, or the White Stone Deposits at the 
             Duchy of Wallachia <span style="color:#FFD700">(Teleport 7)</span>. Then, bring
            the Stones into the Cave, toward the White Stones at the very end of the cave, as shown above. Avalon will appear in front of the cave. However, instead of going to Avalon, go to 
            the Frosty Snowfield <span style="color:#FFD700">(Teleport 6)</span>. He'll be waiting in front of the Obelisk.</p>
    </div>
    <div class="guide-overall">
        <h1 class="guide-label" [style.color]="enemy.color">Overall</h1>
        <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
        <p class="guide-description">
            <br>
            This boss is like all the other minor bosses. Make sure to keep stunning him whenever he casts a spell so he keeps trying to cast it, giving you more time for you to kill him.
            Run away when he uses <span [style.color]='enemy.color'>Craze </span> or <span [style.color]='enemy.color'>Judgment of Darkness</span>.</p>
        <div class="guide-spells">
            <h1 class="guide-label" [style.color]="enemy.color">Spells</h1>
            <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
            <app-enemy-spell-display [caster]="enemy.name" [category]="enemy.category" [skills]="skills[enemy.name]"></app-enemy-spell-display>
        </div>
    </div>
    <div class="guide-kill">
        <h1 class="guide-label" [style.color]="enemy.color">Kill Video</h1>
        <mat-divider style="margin-bottom: 20px;" [style.border-top-color]="enemy.color"></mat-divider>
        <iframe class="guide-kill-video" src="https://drive.google.com/file/d/1NKdFnd5MK8ToiND3Q4KnvAl0W-dJJaMl/preview " allow="autoplay" allowfullscreen style="align-self: center;" frameborder="0"></iframe>
    </div>
</div>