<div class="guide">
    <div class="guide-summon">
        <h1 class="guide-label" [style.color]="enemy.color">How to Summon</h1>
        <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
        <img class="guide-summon-image"
        src="https://i.imgur.com/hmP0u9g.jpg"
        alt="location-image"/>
            <p class="guide-description">
                Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 100</span> 
                before approaching this boss as you will get no loot if you're below that threshold. Also if you're not being carried, 
                have at least Mid level gear before attempting to make your life easier, from this point on, you need a party.
                <br>
                <br> 
                To find this boss, just go into the Prius Forward Camp (Teleport Q-1) and go east into the Eternal Graveyard. On the first kill, bring 4 Holy Waters from the Priest in the top-left corner of Prius (Teleport 5) and 
                use them on the Worshippers of Immortality around the dormant boss. </p>
    </div>
    <div class="guide-overall">
        <h1 class="guide-label" [style.color]="enemy.color">Overall</h1>
        <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
        <p class="guide-description">
            <br>
            This boss is the the most unique high boss as you will be killing him not once, but three or more times. You will need at least one or two people than can interrupt enemies.
            <br>
            <br>
            When starting, Zombie Lord will take 4 seconds to get up, he'll have 90% Damage Reduction at this point. When he finally gets up, he'll knock everyone back and lose his Damage Reduction. 
            In his first life, he has all of his abilities except aura of death, which he will unlock in his next life. Whenever Zombie Lord shouts "...", Run. If he gets you, he'll be able to recover at least half of his HP. 
            In later lives this put you at a major disadvantage. 
            <br>
            <br>
            When Zombie Lord dies, if he has full mana, he will use Immortality, which uses up all of his mana. On his first and second life, he will have full mana thanks to his Worshippers. At past 80% HP past his 
            second life, he'll be able to use Aura of Death. You can either dodge the blasts or move out of range. Priest or Witch can interrupt this spell by using Hex or Raguel's Pull.</p>
            <app-enemy-spell-display [caster]= "enemy.name" [category]="enemy.category" [skills]="getSkills(skills, ['Immortality', 'Aura%20of%20Death'])" style="width: 90%; align-self: center;"></app-enemy-spell-display>
            <p class="guide-description">
            <br>
            On that note, Supports or people who can interrupt channeling will be EXPECTED to stun Worshippers when they reach full mana and are casting their Gift of Immortality. This gift will kill all those 
            between the Worshipper and Zombie Lord and heal him for 25% of his max HP and give 45 mana. It is imperative that these acolytes are interrupted. They will lose all mana after interruption and start to 
            regen mana. Supports can also cleanse those with the Infect debuff, which is important to do when the person who has the debuff is about to die.
            </p>
            <app-enemy-spell-display [caster]= "'Worshipper of Immortality'" [category]="enemy.category" [skills]="getSkills(minionSkills['Worshipper of Immortality'], ['Gift%20of%20Immortality'])" style="width: 90%; align-self: center;"></app-enemy-spell-display>
            <div class="guide-minion-example">
                <img class="guide-summon-image"
                src="https://i.imgur.com/J16VPwT.png"
                alt="location-image"
                width="600" height="600"
                style="align-self: center;"/>
                <button mat-icon-button class="minion-button" (click)="openMinionDetails('Worshipper of Immortality')" style="position: absolute; width: 64px; height: 64px; left:50px; top:250px;">
                    <img class="button-image" src="{{ getEnemyImageURL('Worshipper of Immortality') }}"
                    alt="thumbnail"
                    width="64px"/>
                </button>
                <button mat-icon-button class="minion-button" (click)="openMinionDetails('Worshipper of Immortality')" style="position: absolute; width: 64px; height: 64px; left:450px; top:250px;">
                    <img class="button-image" src="{{ getEnemyImageURL('Worshipper of Immortality') }}"
                    alt="thumbnail"
                    width="64px"/>
                </button>
                <button mat-icon-button class="minion-button" (click)="openMinionDetails('Worshipper of Immortality')" style="position: absolute; width: 64px; height: 64px; left: 270px;; top:50px;">
                    <img class="button-image" src="{{ getEnemyImageURL('Worshipper of Immortality') }}"
                    alt="thumbnail"
                    width="64px"/>
                </button>
                <button mat-icon-button class="minion-button" (click)="openMinionDetails('Worshipper of Immortality')" style="position: absolute; width: 64px; height: 64px; left: 270px;; top:475px;">
                    <img class="button-image" src="{{ getEnemyImageURL('Worshipper of Immortality') }}"
                    alt="thumbnail"
                    width="64px"/>
                </button>
            </div>
            <p class="guide-description">
            On his third life and beyond, Zombie Lord can drop items. The fight will be exactly like the second life. You may have noticed that everytime Zombie Lord ressurects he gets stronger. He'll gain more 
            and more Damage Reduction the more he ressurects and by the fourth life and beyond, his damage will also start increasing by 25% every life. If you're just after the loot, just kill him on the third life. 
            On that note, make sure his Zombies (the ones that spawn every 10 seconds) are kept below 50, or else you'll fail. There is a secret reward in form of the Immortal Kitty Token when you kill Zombie Lord nine times.
            <br>
            <br>
            If you're going for ninth life Zombie Lord, keep your party to about 5-7 people. Zombie Lord will have 90% Damage Reduction beyond 7th life. I'd recommend bringing 3-4 supports who can cleanse and keep 
            the group alive between one-shots and a ton of burst damage since you'll only have 3 minutes to kill Zombie Lord in his ninth life.
            </p>
            <div class="guide-minions">
                <h1 class="guide-label" [style.color]="enemy.color">Minions</h1>
                <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
                <div class="minion-container">
                <button mat-icon-button class="minion-button" (click)="openMinionDetails('Zombie')">
                    <img class="button-image" src="{{ getEnemyImageURL('Zombie') }}"
                    alt="thumbnail"/>
                </button>
                </div>
            </div> 
        <div class="guide-spells">
            <h1 class="guide-label" [style.color]="enemy.color">Spells</h1>
            <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
            <app-enemy-spell-display [caster]= "enemy.name" [category]="enemy.category" [skills]="getRemainingSkills(skills)"></app-enemy-spell-display>
        </div>
    </div>
    <div class="guide-kill">
        <h1 class="guide-label" [style.color]="enemy.color">Kill Video</h1>
        <mat-divider style="margin-bottom: 20px;" [style.border-top-color]="enemy.color"></mat-divider>
        <iframe class="guide-kill-video" src="https://drive.google.com/file/d/1VSyFIxt_0Psn7uhhpgLbP_MIxfxwy1Eu/preview" allow="autoplay" allowfullscreen style="align-self: center;" frameborder="0"></iframe>
    </div>
</div>