<div class="guide">
    <div class="guide-summon">
        <h1 class="guide-label">How to Summon</h1>
        <mat-divider></mat-divider>
        <img class="guide-summon-image"
        src="https://i.imgur.com/tfCnmyJ.jpg"
        alt="location-image"
        width="1344" height="448"/>
        <p class="guide-summon-description">
            Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 90</span> 
            before approaching this boss as you will get no experience nor loot if you're below that threshold.
            <br>
            <br> 
            This boss will be part of the waves in the Expedition Scenario, alongside Soul of Everfrost. To summon this boss, get 6 Blue Stones from 
            either the deposits at the Cave Entrance (Teleport 4) if you have a chaos pick or above, or the blue stone deposits at Frosty Snowfield (Teleport 6). Then, talk to the captain 
            of the expedition at Frosty Snowfield, and bring the stones to the circle surrounded by 3 Prius Magus. You will then be assaulted by waves of Frost Spiders, Frost Skirmishers, and 
            Frostvemon Spiders. Go near the green spiders to trigger their explosion (and run away from them) and use AoE on the other spiders. Near the end of the waves, both Soul of 
            Everfrost and Frostspider Queen will arrive.</p>
            <div class="guide-minions">
                <h1 class="guide-label">Minions</h1>
                <mat-divider></mat-divider>
                <div class="minion-container">
                <button mat-icon-button class="minion-button" (click)="openEnemyDetails('Frost Spider')">
                    <img class="button-image" src="{{ getEnemyImageURL('Frost Spider') }}"
                    alt="thumbnail"/>
                </button>
                <button mat-icon-button class="minion-button" (click)="openEnemyDetails('Frost Skirmisher')">
                    <img class="button-image" src="{{ getEnemyImageURL('Frost Skirmisher') }}"
                    alt="thumbnail"/>
                </button>
                <button mat-icon-button class="minion-button" (click)="openEnemyDetails('Frostvemon Spider')">
                    <img class="button-image" src="{{ getEnemyImageURL('Frostvemon Spider') }}"
                    alt="thumbnail"/>
                </button>
                </div>
            </div> 
    </div>
    <div class="guide-overall">
        <h1 class="guide-label">Overall</h1>
        <mat-divider></mat-divider>
        <p class="guide-overall-description">
            <br>
            Depending if she comes first or second will determine your strategy. Don't die or else they'll have a chance to kill the Prius Mages and end the Scenario. 
            Stun whenever she is channeling and dodge her Frost Spike. If she comes first, focus her down before Soul of Everfrost. If she comes second, focus Everfrost.</p>
        <div class="guide-spells">
            <h1 class="guide-label">Spells</h1>
            <mat-divider></mat-divider>
            <app-enemy-spell-display [category]="enemy.category" [skills]="skills"></app-enemy-spell-display>
        </div>
    </div>
    <div class="guide-kill">
        <h1 class="guide-label">Kill Video</h1>
        <mat-divider style="margin-bottom: 20px;"></mat-divider>
        <!-- <iframe controls=0 width="1120" height="630" src="https://www.youtube-nocookie.com/embed/CisSrIzTCvE?autohide=2&border=0&wmode=opaque&enablejsapi=1&modestbranding=1&controls=2&showinfo=1&rel=0" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="align-self: center;"></iframe> -->
    </div>
</div>