.item {
    align-self: center;
    border-radius: 5px;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px);
    margin: auto;
    align-self: center;

    &-container {
      padding-left: 2vw;
      padding-right: 2vw;
    }
    
    &-large-container {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-auto-flow: row;
    }

    &-details-container {
      display: flex;
      flex-direction: row;
    }
    &-thumbnail {
      padding: 1vw;
      width: calc(32px + 8vw);
      height: calc(32px + 8vw);
    }
    &-content {
      align-self: center;
      margin-top: 1vw;
    }
    //Flavor text
    &-name {
      color: #fff;
      font-weight: 700;
      font-size: calc(1em + 1.5vw);
      line-height: calc(.5em + 1.25vw);
      text-overflow: ellipsis;
      align-self: center;
    }
    &-quote {
      color: #fff;
      font-size: calc(.95em + .6vw);
      line-height: calc(.95em + .6vw);
      flex-wrap: wrap;
      overflow-wrap: break-word;
      &-container {
        display: flex;
        flex-direction: row;
        margin-bottom: .5vw;
      }
    }
    &-flavor {
      &-container {
        display: flex;
        flex-direction: row;
        margin-bottom: .5vw;
      }
      &-line {
        color: #fff;
        font-weight: 350;
        font-size: calc(.8em + .8vw);
        line-height: calc(.85em + .8vw);
      }
    }
    //stats
    &-attribute {
      &-container {
        padding-top: 1%;
        display: flex;
        flex-direction: column;
        overflow-wrap: break-word;
      }
      &-label {
        font-weight: 500;
        font-size: calc(.9em + .75vw);
        line-height: calc(.95em + .75vw);
      }
      &-description {
        font-weight: 200;
        font-size: calc(.8em + .75vw);
        line-height: calc(.85em + .75vw);
      }
    }
    //lists (ingredients and dropped)
    &-lists {
      display: flex;
      flex-flow: row;
      justify-content: center;
    }
    &-list {
      &-container {
        display: grid;
        grid-auto-rows: min-content;
        color:#fff;
      }
      &-details {
        font-weight: 600;
        font-size: calc(.75em + .8vw);
        line-height: calc(.75em + .8vw);
        margin-left: 1vw;
        margin-right: 1vw;
        width: 100%;
      }
      &-button {
        width: calc(32px + 3.5vw);
        height: calc(32px + 3.5vw);
        cursor: pointer;
      }
      &-label {
        font-weight: 700;
        font-size: calc(.75em + 1.5vw);
        line-height: calc(.75em + 1.5vw);
        align-self: center;
        text-align: center;
      }
      &-filler {
        width: calc(16px + 1.75vw);
        height: calc(16px + 1.75vw);
      }
      &-content {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-swap {
        width: calc(16px + 1.75vw);
        height: calc(16px + 1.75vw);
        cursor: pointer;
      }
    }
    //used-in
    &-used-in {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      &-container {
        text-align: center;
      }
      &-label {
        color: #fff;
        font-weight: 500;
        font-size: calc(.8em + 1.5vw);
        line-height: calc(.8em + 1.5vw);
        margin-bottom: .2vw;
        display: inline-block;
        white-space: nowrap;
        margin: 0 auto;
        padding: 1%;
      }
      &-button {
        cursor: pointer;
        align-self: center;
        min-width: 32px;
        min-height: 32px;
        height: calc(32px + 2vw);
        width: calc(32px + 2vw);
        max-width: 128px;
        max-height: 128px;
        position: relative;
        z-index: 3;
        display: block;
      }
    }
}
.back-button
{
  width: calc(32px + 2.4vw);
  height: calc(32px + 2.4vw);
}
.back-button-container
{
  display: flex;
  flex-flow: row;
  padding: .5vw;
  height: calc(45px + 3vw);
}
.back-button-label
{
      color: #FFD700;
      font-weight: 250;
      font-size: calc(12px + 1vw);
      text-overflow: ellipsis;
      align-self: center;
      margin-left: 10px;
}


@media screen and (max-width: 749px) {
  .item {
    &-large-container {
      grid-template-columns: repeat(1, 99%);
    }
    &-lists {
      margin-top: 1vw;
      flex-flow: column;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (min-width: 750px) {
  .item {
    &-attribute {
      &-label {
        font-weight: 500;
        font-size: calc(.9em + .75vw);
        line-height: calc(.75em + .5vw);
      }
      &-description {
        font-weight: 200;
        font-size: calc(.8em + .75vw);
        line-height: calc(.6em + .55vw);
      }
    }
  }
}
