<div class="guide">
    <div class="guide-summon">
        <h1 class="guide-label" [style.color]="enemy.color">How to Summon</h1>
        <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
        <img class="guide-summon-image"
        src="https://i.imgur.com/VNouXWg.jpg"
        alt="location-image"/>
        <p class="guide-description">
            Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 90</span> 
            before approaching this boss as you will get no experience nor loot if you're below that threshold.
            <br>
            <br> 
            To summon this boss, get 6 red Stones from either the red Stone Deposits at Volcanic Lands (Teleport 8) or in front of the Cave Entrance (Teleport 4) if you have an Abyssal Pickaxeaxe or above. 
            Place these Stones at the skulls East of Wallachia (Teleport 7), below the fort that houses Count and Death Knight, as shown above. 
            A cutscene will play and a portal will appear at East Prius Gate (Teleport 4). <b><u style="color:red">MAKE SURE YOU DO NOT KILL THE PORTAL OR YOU WILL UNLEASH A TERRIBLE EVIL.</u></b> 
            Defend the town for 90 seconds or kill all the demons to summon Lord Beriel.
        </p>
        <div class="minion-container">
            <button mat-icon-button class="minion-button" (click)="openMinionDetails('Hell Portal')">
                <img class="button-image" src="{{ getEnemyImageURL('Hell Portal') }}"
                alt="thumbnail"/>
            </button>
        </div>
        <div class="minion-container">
            <button mat-icon-button class="minion-button" (click)="openMinionDetails('Slime Monster')">
                <img class="button-image" src="{{ getEnemyImageURL('Slime Monster') }}"
                alt="thumbnail"/>
            </button>
            <button mat-icon-button class="minion-button" (click)="openMinionDetails('Golem Monster')">
                <img class="button-image" src="{{ getEnemyImageURL('Golem Monster') }}"
                alt="thumbnail"/>
            </button>
            <button mat-icon-button class="minion-button" (click)="openMinionDetails('Hound Monster')">
                <img class="button-image" src="{{ getEnemyImageURL('Hound Monster') }}"
                alt="thumbnail"/>
            </button>
        </div>
    </div>
    <div class="guide-overall">
        <h1 class="guide-label" [style.color]="enemy.color">Overall</h1>
        <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
        <p class="guide-description">
            <br>
            Generally, the main strategy is like all the other bosses before, run and die. However, to make the kills faster, make sure to avoid the Meteors that he casts on people. 
            Be sure to keep track of his Destructions, as the third one will stun him for three seconds. Whenever he uses his Catacylsm or Craze, just run away as the footmen will take aggro 
            (both Footmen and Ian are tanky).
            </p>
        <div class="guide-spells">
            <h1 class="guide-label" [style.color]="enemy.color">Spells</h1>
            <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
            <app-enemy-spell-display [caster]="enemy.name" [category]="enemy.category" [skills]="skills"></app-enemy-spell-display>
        </div>
    </div>
    <div class="guide-kill">
        <h1 class="guide-label" [style.color]="enemy.color">Kill Video</h1>
        <mat-divider style="margin-bottom: 20px;" [style.border-top-color]="enemy.color"></mat-divider>
        <iframe class="guide-kill-video" src="https://drive.google.com/file/d/1IzqVYfFLcqxsLPf-ffXfz3-z5UqyUyDa/preview" allow="autoplay" allowfullscreen style="align-self: center;" frameborder="0"></iframe>
    </div>
</div>