<div class="guide">
    <div class="guide-summon">
        <h1 class="guide-label">Location</h1>
        <mat-divider></mat-divider>
        <img class="guide-summon-image"
        src="https://i.imgur.com/NZE3Czr.jpg"
        alt="location-image"
        width="896" height="448"/>
        <p class="guide-summon-description">
            Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 100</span> 
            before approaching this boss as you will get no loot if you're below that threshold.
            <br>
            <br> 
            Walk to the Wallachia Graveyard (Teleport 7), south of the teleporter. He will be mid-way, between the small creeps and the large creeps.
    </div>
    <div class="guide-overall">
        <h1 class="guide-label">Overall</h1>
        <mat-divider></mat-divider>
        <p class="guide-overall-description">
            <br>
            To make killing this boss easier, kite him to the easier area, above his spawn area. There are less graves and easier mobs to deal with. Keep him in an open area 
            and out of the purple circles he will spawn from the ground. Once he is 50% HP, he will use his Wheel of Fate. Don't worry about creeps or his images unless they're 
            in the way. There are two layers in his wheel, an inner and outer layer. When warning lights spawn in either layer, MOVE OUT OF THAT LAYER IMMEDIATELY. A blast will happen AFTER those lights 
            disappear. If anyone dies in the wheel, he will regain 25% HP. After this wheel, kill him quickly before his mana gets full.</p>
        <div class="guide-spells">
            <h1 class="guide-label">Spells</h1>
            <mat-divider></mat-divider>
            <app-enemy-spell-display [caster]="enemy.name" [category]="enemy.category" [skills]="skills"></app-enemy-spell-display>
        </div>
    </div>
    <div class="guide-kill">
        <h1 class="guide-label">Kill Video</h1>
        <mat-divider style="margin-bottom: 20px;"></mat-divider>
        <iframe src="https://drive.google.com/file/d/1AGDl9CvydqFQB_Fdn9M494yxKy1vPc42/preview" width="960" height="720" allow="autoplay" allowfullscreen style="align-self: center;" frameborder="0"></iframe>
    </div>
</div>