.enemies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: auto;
    margin: 20px auto;
  }

.enemy {
    width: 436px;
    margin: 10px;
    height: 495px;
    overflow: hidden;
    border-radius: 5px;
    background-color: #202020;
    box-shadow: 4px 3px 8px 0px rgb(50 50 100 / 22%);
    transition-duration: 0.3s;
    cursor: pointer;
  
    &:hover {
      box-shadow: 4px 3px 11px 6px rgb(50 50 100 / 46%);
      transform: translateY(-3px);
    }
  
    &-thumb-container {
      background-color: #000;
      position: relative;
      height: 160px;
      color: #fff;
      text-align: center;
    }
  
    &-thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 160;
    }
  
    &-description {
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 222px;
      color: #fff;
      font-size: 18px;
      line-height: 1.1vw;
    }
    &-details {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: #fff;
        height: 100%;
      }
    &-name {
      color: #fff;
      font-weight: 700;
      font-size: 22px;
      margin-bottom: 20px;
      text-overflow: ellipsis;
      text-align: center;
    }
    &-level {
      color: #FFD700;
      font-size: 20px;
    }
    &-category {
        color: #fff;
        font-size: 20px;
    }
    &-type {
      color: #fff;
      font-size: 20px;
    }   

    &-items {
        height: 121px;
        text-align: center;
    }

    &-drops {
        display: flex;
        flex-wrap: wrap;
        padding-left: 20px;
        padding-right: 20px;
    &-button {
        cursor: pointer;
        height: 48px;
        max-height: 48px;
        width: 48px;
        max-width: 48px;
    }
}
  }
