<div class="guide">
    <div class="guide-summon">
        <h1 class="guide-label" [style.color]="enemy.color">How to Summon</h1>
        <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
        <img class="guide-summon-image"
        src="https://i.imgur.com/pBxIci0.jpg"
        alt="location-image"/>
        <p class="guide-description">
        Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 100</span> 
        before approaching this boss as you'll get no loot if you're below that threshold. Also if you're not being carried, 
        have at least <span style="color:#bb2233">Demon Lord</span> level gear before attempting to make your life easier.
        <br>
        <br> 
        To summon this boss, gather <span style="color:#ff9ca4">8 Red Stones</span> 
        from any <span style="color:#ff9ca4">Red Stone Deposit</span> in Volcanic Land <span style="color:#FFD700">(Teleport 8)</span> 
        with any pickaxe or, if you have an <span style="color:#52E252">Abyssal Pickaxe</span> or above, you can mine directly from 
        the Stone Deposits in front of the golem cave <span style="color:#FFD700">(Teleport 4)</span>. Then, go to 
        Volcanic Land and kill Ragnaar for Nightmare Rod, which you will need to summon <span [style.color]='enemy.color'>Flame Nightmare</span>. Finally, bring all these items to crimson circle left of Ragnaar's spawn and use 
        the Nightmare Rod.</p>
    </div>
    <div class="guide-overall">
        <h1 class="guide-label" [style.color]="enemy.color">Overall</h1>
        <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
        <p class="guide-description">
            <br>
            What sets <span [style.color]='enemy.color'>Flame Nightmare</span> apart from the other Mid-tier bosses, 
            is the fact you have to worry about <span [style.color]='enemy.color'>Hatred</span> and 
            <span [style.color]='enemy.color'>Anger</span> by his side. However, these unkillable minions are easy to deal with. 
        <br>
        <br>
            With <span [style.color]='enemy.color'>Hatred</span>, make sure the person with the 
            <span [style.color]='enemy.color'>Mark of Hatred</span> (the purple circle underneath you) 
            move away from the rest pf the group every <span style="color:#FFD700">10 seconds</span>, or else 
            everyone around that person will lose <span style="color:#FF6666">99% of 
            their health</span>.</p>
        <app-enemy-spell-display 
        [caster]="'Hatred'" 
        [category]="enemy.category" 
        [skills]="getSkills(skills['Hatred'], ['Mark%20of%20Hatred'])" 
        style="width: 90%; align-self: center;"></app-enemy-spell-display>
        <p></p>
        <p class="guide-description">
            Anger's only dangerous when Flame Nightmare reaches <span style="color:#90EE90">25% HP</span> and goes invulnerable. 
            At that point, just run away from him as he's chained to <span [style.color]='enemy.color'>Flame Nightmare</span> and will teleport to him if he gets too far.</p>
        <app-enemy-spell-display 
        [caster]="'Anger'" 
        [category]="enemy.category" 
        [skills]="getSkills(skills['Anger'], ['Furious%20Attacks'])" 
        style="width: 90%; align-self: center;"></app-enemy-spell-display>
        <p></p>
            <div class="minion-container" style="padding-top: 0px;">
            <button mat-icon-button class="minion-button" (click)="openMinionDetails('Hatred')">
                <img class="button-image" src="{{ getEnemyImageURL('Hatred') }}"
                alt="thumbnail"
                width="100%"/>
            </button>
            <button mat-icon-button class="minion-button" (click)="openMinionDetails('Anger')">
                <img class="button-image" src="{{ getEnemyImageURL('Anger') }}"
                alt="thumbnail"
                width="100%"/>
            </button>
        </div>
        <p></p>
        <p class="guide-description">
            The first <span style="color:#90EE90">25% HP</span> is easy as all you do is make sure he keeps hitting you so he doesn't 
            use <span [style.color]='enemy.color'>Overload</span> and run away from the <span [style.color]='enemy.color'>Flame Barrage</span>. 
            <span [style.color]='enemy.color'>Flame Barrage</span> can be easily dodged by moving in a circle. 
            At <span style="color:#90EE90">80% HP</span>, <span [style.color]='enemy.color'>Flame Nightmare</span> 
            will trigger his <span [style.color]='enemy.color'>"On Your Knees!"</span>. There's two approaches to this spell, you can either kite him away from the Flame Spawns, or use AOE to kill them all when they're close.</p>
            <app-enemy-spell-display [caster]="enemy.name" [category]="enemy.category" [skills]="getSkills(skills[enemy.name], ['On%20Your%20Knees%21'])" style="width: 90%; align-self: center;"></app-enemy-spell-display>
            <p></p>
            <p class="guide-description">
            If you choose to kite him, after he uses his <span [style.color]='enemy.color'>"On Your Knees!"</span>, move him away 
            from the epicenter of the jump. He will not be healed when the <span [style.color]='enemy.color'>Flame Spawns</span> reach his jump location.
            <br><br>
            If you choose to do either, keep damaging him until he reaches <span style="color:#90EE90">25% HP</span>, where he will 
            use <span [style.color]='enemy.color'>Total Annihilation</span>. Just run away from him for <span style="color:#FFD700">10 seconds</span> and come back to finish him off before he can 
            use his <span [style.color]='enemy.color'>"On Your Knees!"</span> again.
        </p>
        <app-enemy-spell-display [caster]="enemy.name" [category]="enemy.category" [skills]="getSkills(skills[enemy.name], ['Total%20Annihilation'])" style="width: 90%; align-self: center;"></app-enemy-spell-display>
        <p></p>
        <div class="guide-spells">
            <h1 class="guide-label" [style.color]="enemy.color">Spells</h1>
            <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
            <app-enemy-spell-display [caster]="enemy.name" [category]="enemy.category" [skills]="getRemainingSkills(skills[enemy.name])"></app-enemy-spell-display>
        </div>
    </div>
    <div class="guide-kill">
        <h1 class="guide-label" [style.color]="enemy.color">Kill Video</h1>
        <mat-divider style="margin-bottom: 20px;" [style.border-top-color]="enemy.color"></mat-divider>
        <iframe class="guide-kill-video" src="https://drive.google.com/file/d/1pZcUWG8vLJuX_ZrjkuNET68UXiYOlnI2/preview" allow="autoplay" allowfullscreen style="align-self: center;" frameborder="0"></iframe>
    </div>
</div>