<div class="guide">
    <div class="guide-summon">
        <h1 class="guide-label" [style.color]="enemy.color">How to Summon</h1>
        <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
        <img class="guide-summon-image"
        src="https://i.imgur.com/tfCnmyJ.jpg"
        alt="location-image"/>
        <p class="guide-description">
            Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 90</span> 
            before approaching this boss as you'll get no experience nor loot if you're below that threshold.
            <br>
            <br> 
            This boss will be part of the waves in the <span style="color:#d6fffa">Expedition Scenario</span>, alongside 
            <span [style.color]='enemy.color'>Soul of Everfrost</span>. 
            To summon this boss, get <span style="color:#0288d1">6 Blue Stones</span> from 
            either the Deposits at the Cave Entrance <span style="color:#FFD700">(Teleport 4)</span> 
            if you have an <span style="color:#52E252">Abyssal Pickaxe</span> or above, or the 
            <span style="color:#0288d1"> Blue Stone Deposits</span> at Frosty Snowfield 
            <span style="color:#FFD700">(Teleport 6)</span>. Then, talk to the Captain 
            of the Expedition at the Frosty Snowfield, and bring the Stones to the circle surrounded by 3 Prius Magus. 
            You will then be assaulted by waves of Frost Spiders, Frost Skirmishers, and 
            Frostvemon Spiders. Go near the Green Spiders to trigger their explosion (and run away from them) and use AoE 
            on the other spiders. Near the end of the waves, both <span [style.color]='enemy.color'> Frostspider Queen and Soul of
             Everfrost</span> will arrive.</p>
            <div class="guide-minions">
                <h1 class="guide-label" [style.color]="enemy.color">Minions</h1>
                <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
                <div class="minion-container">
                <button mat-icon-button class="minion-button" (click)="openMinionDetails('Frost Spider')">
                    <img class="button-image" src="{{ getEnemyImageURL('Frost Spider') }}"
                    alt="thumbnail"
                    width="100%"/>
                </button>
                <button mat-icon-button class="minion-button" (click)="openMinionDetails('Frost Skirmisher')">
                    <img class="button-image" src="{{ getEnemyImageURL('Frost Skirmisher') }}"
                    alt="thumbnail"
                    width="100%"/>
                </button>
                <button mat-icon-button class="minion-button" (click)="openMinionDetails('Frostvemon Spider')">
                    <img class="button-image" src="{{ getEnemyImageURL('Frostvemon Spider') }}"
                    alt="thumbnail"
                    width="100%"/>
                </button>
                </div>
            </div> 
    </div>
    <div class="guide-overall">
        <h1 class="guide-label" [style.color]="enemy.color">Overall</h1>
        <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
        <p class="guide-description">
            <br>
            Depending if she comes first or second will determine your strategy. <span style="color:#FF6666">Don't die or 
                else they'll have a chance to kill the Prius Mages and end the Scenario</span>. 
            Stun whenever she is channeling and dodge her Frost Spike. If she comes first, with any pickaxe, focus her 
            down before <span [style.color]='enemy.color'>Soul of Everfrost</span>. If she comes second, focus <span [style.color]='enemy.color'>Everfrost</span>.</p>
        <div class="guide-spells">
            <h1 class="guide-label" [style.color]="enemy.color">Spells</h1>
            <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
            <app-enemy-spell-display [caster]="enemy.name" [category]="enemy.category" [skills]="skills[enemy.name]"></app-enemy-spell-display>
        </div>
    </div>
    <div class="guide-kill">
        <h1 class="guide-label" [style.color]="enemy.color">Kill Video</h1>
        <mat-divider style="margin-bottom: 20px;" [style.border-top-color]="enemy.color"></mat-divider>
        <iframe class="guide-kill-video" src="https://drive.google.com/file/d/1s-TFfsuP07JucV4RB8ZK-OSbignnEa-K/preview" allow="autoplay" allowfullscreen style="align-self: center;" frameborder="0"></iframe>
    </div>
</div>