<div class="guide">
    <div class="guide-summon">
        <h1 class="guide-label">How to Summon</h1>
        <mat-divider></mat-divider>
        <img class="guide-summon-image"
        src="https://i.imgur.com/pBxIci0.jpg"
        alt="location-image"
        width="1344" height="448"/>
        <p class="guide-summon-description">
        Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 100</span> 
        before approaching this boss as you will get no loot if you're below that threshold. Also if you're not being carried, 
        have at least Demon Lord level gear before attempting to make your life easier.
        <br>
        <br> 
        To summon this boss, first, gather 8 red stones from any red stone deposit in Wallachia (Teleport 7) 
        or if you have an Abyssal Pickaxe or above, you can mine directly from the stone deposits in front of the golem cave (Teleport 4). Use any pickaxe to gather the stones. Then, go to 
        Lava Land and kill Ragnaar for Nightmare Rod, which you will need to summon Flame Nightmare. Finally, bring all these items to crimson circle left of Ragnaar's spawn and use 
        the Nightmare Rod.</p>
    </div>
    <div class="guide-overall">
        <h1 class="guide-label">Overall</h1>
        <mat-divider></mat-divider>
        <p class="guide-overall-description">
            <br>
            What sets Flame Nightmare apart from the other Mid-tier bosses, is the fact you have to worry about Hatred and Anger by his side. However, these unkillable minions are easy to deal with. 
            <br><br>
            With Hatred, make sure the person with the Mark of Hatred (the purple circle underneath you) move away from the rest pf the group every 10 seconds, or else everyone around that person will lose 99% of 
            their health.
            <br><br>
            Anger's only dangerous when Flame Nightmare reaches 25% and goes invulnerable. At that point, just run away from him as he's chained to Flame Nightmare and will teleport to him if he gets too far.
            <br><br></p>
        <div class="minion-container">
            <button mat-icon-button class="minion-button" (click)="openEnemyDetails('Hatred')">
                <img class="button-image" src="{{ getEnemyImageURL('Hatred') }}"
                alt="thumbnail"/>
            </button>
            <button mat-icon-button class="minion-button" (click)="openEnemyDetails('Anger')">
                <img class="button-image" src="{{ getEnemyImageURL('Anger') }}"
                alt="thumbnail"/>
            </button>
        </div>
        <p class="guide-overall-description">
            The first <span style="color:#90EE90">25% HP</span> is easy as all you do is make sure he keeps hitting you so he doesn't use Overload and run away from the Flame Barrage. Flame Barrage can be easily dodged by moving in a circle. 
            At <span style="color:#90EE90">75% HP</span>, Flame Nightmare will trigger his "On Your Knees". There's two approaches to this spell, you can either kite him away from the Flame Spawns, or use AOE to kill them all when they're close. 
            <br><br>
            If you choose to kite him, before he reaches <span style="color:#90EE90">75% HP</span>, move him to the bottom left of Lava Lands, and then trigger it. Then maintain his aggro until you reach the top left. You can maintain 
            his aggro by stunning/interrupting him.
            <br><br>
            If you choose to do either, keep damaging him until he reaches <span style="color:#90EE90">25% HP</span>, where he will use Total Annihilation. Just run away from him for 10 seconds and come back to finish him off before he can 
            use his "On Your Knees" again.
        </p>
        <div class="guide-minions">
            <h1 class="guide-label">Minions</h1>
            <mat-divider></mat-divider>
            <div class="minion-container">
            <button mat-icon-button class="minion-button" (click)="openEnemyDetails('Flame Spawn')">
                <img class="button-image" src="{{ getEnemyImageURL('Flame Spawn') }}"
                alt="thumbnail"/>
            </button>
            </div>
        </div> 
        <div class="guide-spells">
            <h1 class="guide-label">Spells</h1>
            <mat-divider></mat-divider>
            <app-enemy-spell-display [category]="enemy.category" [skills]="skills"></app-enemy-spell-display>
        </div>
    </div>
    <div class="guide-kill">
        <h1 class="guide-label">Kill Video</h1>
        <mat-divider style="margin-bottom: 20px;"></mat-divider>
        <!-- <iframe src="https://ia801506.us.archive.org/24/items/TWRPGGuidebook/0Hydra%2FStomp.ia.mp4" width="640" height="480" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen></iframe> -->
    </div>
</div>