<div class="guide">
        <div class="guide-summon">
            <h1 class="guide-label" [style.color]="enemy.color">How to Summon</h1>
            <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
            <img class="guide-summon-image"
            src="https://i.imgur.com/UWs2IFo.jpg"
            alt="location-image"/>
            <p class="guide-description">
                Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 50</span> 
                before approaching this boss as you'll get no experience nor loot if you're below that threshold.
                <br>
                <br> 
                To summon this boss, gather <span style="color:#0288d1">4 Blue Stones</span> from any <span style="color:#0288d1"> Blue Stone Deposit</span> 
                in the Frosty Snowfield <span style="color:#FFD700">(Teleport 6)</span> with any pickaxe or if you have an <span style="color:#52E252">Abyssal Pickaxe</span> or above, 
                you can mine directly from the Stone Deposits at the Cave Entrance <span style="color:#FFD700">(Teleport 4)</span>.  Then bring the stones to the 
                top-right of the Seaside area <span style="color:#FFD700">(Teleport 3)</span>, in front of the shipwreck, as shown above.</p>
        </div>
        <div class="guide-overall">
            <h1 class="guide-label" [style.color]="enemy.color">Overall</h1>
            <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
            <p class="guide-description">
                <br>
                This boss is pretty simple as you can just hit and die until the boss is dead. Its spells are pretty easy to avoid due to their long wind-ups. 
                You shouldn't have a problem with this boss.</p>
            <div class="guide-spells">
                <h1 class="guide-label" [style.color]="enemy.color">Spells</h1>
                <mat-divider [style.border-top-color]="enemy.color"></mat-divider>
                <app-enemy-spell-display [caster]="enemy.name" [category]="enemy.category" [skills]="skills"></app-enemy-spell-display>
            </div>
        </div>
        <div class="guide-kill">
            <h1 class="guide-label" [style.color]="enemy.color">Kill Video</h1>
            <mat-divider style="margin-bottom: 20px;" [style.border-top-color]="enemy.color"></mat-divider>
            <iframe class="guide-kill-video" src="https://drive.google.com/file/d/1Blb9lsF1NfxTkKM7IZG-flD3P-OSprA1/preview" allow="autoplay" allowfullscreen style="align-self: center;" frameborder="0"></iframe>
        </div>
</div>