<div class="guide">
        <div class="guide-summon">
            <h1 class="guide-label">How to Summon</h1>
            <mat-divider></mat-divider>
            <img class="guide-summon-image"
            src="https://i.imgur.com/UWs2IFo.jpg"
            alt="location-image"
            width="896" height="448"/>
            <p class="guide-summon-description">
                Make sure that you're <u style="color:red">AT LEAST</u><span style="color:#FFD700"> Level 50</span> 
                before approaching this boss as you will get no experience nor loot if you're below that threshold.
                <br>
                <br> 
                To summon this boss, first, gather 4 blue stones from any blue stone deposit in the Frosty Snowfield (Teleport 6) or if you have an Abyssal Pickaxe or above, 
                you can mine directly from the stone deposits at the Cave Entrance (Teleport 4). Use any pickaxe to gather the stones. Then, bring them to the 
                top-right of the Seaside (Teleport 3) area, in front of the shipwreck, as shown above.</p>
        </div>
        <div class="guide-overall">
            <h1 class="guide-label">Overall</h1>
            <mat-divider></mat-divider>
            <p class="guide-overall-description">
                <br>
                This boss is pretty simple as you can just hit and die until the boss is dead. Its spells are pretty easy to avoid due to their long wind-ups. 
                Just be mindful of your surroundings in case mobs come.</p>
            <div class="guide-spells">
                <h1 class="guide-label">Spells</h1>
                <mat-divider></mat-divider>
                <app-enemy-spell-display [category]="enemy.category" [skills]="skills"></app-enemy-spell-display>
            </div>
        </div>
        <div class="guide-kill">
            <h1 class="guide-label">Kill Video</h1>
            <mat-divider style="margin-bottom: 20px;"></mat-divider>
            <iframe src="https://drive.google.com/file/d/1eKa9CXL5cHZNx5cAVSTvXv92Rn2JXE9u/preview" width="960" height="720" allow="autoplay" allowfullscreen style="align-self: center;" frameborder="0"></iframe>
        </div>
</div>