.enemy {
    align-self: center;
    border-radius: 5px;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    &-container {

        display: flex;
        flex-direction: column;
        align-self: center;
        color: #fff;
    }
    &-name {
        color: #fff;
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 20px;
        text-overflow: ellipsis;
        align-self: center;
        &-details {
            color: #fff;
            font-weight: 700;
            font-size: 25px;
            margin-bottom: 20px;
            text-overflow: ellipsis;
            align-self: center;
            font-family: "Times New Roman", Times, serif;
        }
    }
    &-quote {
        font-weight: 700;
        font-size: 22px;
        align-self: center;
        font-style: italic;
        margin-bottom: 5px;
    }
    &-details {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    &-basics {
        width: 50%;
        min-width: 700px;
        display: flex;
        flex-direction: column;
    }
    &-card {
        display: flex;
        flex-direction: row;
    }
    &-special-stat-change {
        width: 40%;
        margin-left: auto;
    }
    &-quick-details {
        align-self: center;
        width: 35%;
    }
    &-image {
        padding: 20px;
    }
    &-type {
        color: #fff;
        font-weight: 350;
        font-size: 18px;
    }
    &-level {
    color: #FFD700;
    font-weight: 350;
    font-size: 18px;
    }
    &-category {
    color: #fff;
    font-weight: 350;
    font-size: 18px;
    }
    &-respawn {
        padding-top: 3%;
        color: #fff;
        flex-grow: 1;
        font-size: 20px;
        flex-wrap: wrap;
        max-width: 200% ;
        overflow-wrap: break-word;
        margin: 0;
        padding: 0;
    }

    &-attribute-image {
        width: 96px;
        height: 96px;
        min-height: 32px;
    }

    &-difficulty {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-content: center;
        align-self: center;
        &-label {
            align-self: center;
            color: #fff;
            font-weight: 700;
            font-size: 30px;
            margin-bottom: 20px;
            text-overflow: ellipsis;
            align-self: center;
        }
    }

    &-stat {
        width: 50%;
        min-width: 300px;
        display: flex;
        flex-flow: row;
        color: #fff;
        &-label {
            font-size: 28px;
            line-height: 28px;
            font-weight: 600;
            &-container {
                display: flex;
                align-items: center;
                padding-left: 10px;
                width: 100%;
            }
        }
    }
    &-stats {
        height: 424px;
        padding: 1%;
        width: 90%;
        margin: auto;
        margin-top: 1%;
        margin-bottom: 1%;
        &-row {
            display: flex;
            flex-flow: row;
            align-items: center;
        }
    }

    &-note {
        color: #ffffff;
        font-weight: 200;
        font-size: 22px;
    }
    &-notes-container {
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    }
    &-notes-label {
        color: #ffffff;
        font-weight: 500;
        font-size: 25px;
    }

    &-drop {
        display: flex;
        flex-flow: row;
        align-items: center;
        width: 50%;
        min-width: 500px;
        &-label {
            font-size: 33px;
            &-container {
                text-align: center;
            }
        }
        &-container {
            color: #fff;
            width: 50%;
            margin-top: 1%;
        }
        &-list {
            height: 808px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            padding: 20px;
        }
        &-button {
            align-self: center;
            height: 100%;
            max-height: 128px;
            min-width: 32px;
            width: 100%;
            max-width: 128px;
            min-width: 32px;
            }
        &-details {
            font-size: 22px;
            font-weight: 600;
            padding-left: 5px;
        }
    }
    
    &-default {
        display: flex;
        flex-direction: column;

    }
    &-location {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding-top: 60px;
        padding-bottom: 30px;
        width: 1200px;
        &-image {
            align-self: center;
            padding: 35px;
        }
        &-label {
            color: #fff;
            font-weight: 700;
            font-size: 45px;
            text-overflow: ellipsis;
            align-self: center;
            margin-bottom: 20px;
        }
        &-details {
            font-size: 25px;
            line-height: 30px;
            color: #fff;
            align-self: center;
        }
        &-conditions {
            font-size: 25px;
            line-height: 30px;
            color: #fff;
            align-self: center;
        }
    }
}
.back-button{
  width:64px;
  height:64px;
}
.back-button-container{
  display: flex;
  flex-flow: row;
  padding: 10px;
  height: 90px;
}
.back-button-label{
      color: #FFD700;
      font-weight: 250;
      font-size: 28px;
      text-overflow: ellipsis;
      align-self: center;
      margin-left: 10px;
}
.mat-divider {
    border-top-color: white;
  }





.guide {
    display: flex;
    flex-direction: column;
    color: #fff;
    background-color: #303030;
    margin:auto;
    width: 80%;
    
    &-label {
        font-weight: 400;
        font-size: 45px;
        text-overflow: ellipsis;
        align-self: center;
        margin-bottom: 20px;
        font-family: "Times New Roman", Times, serif;
    }
    &-summon {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding-top: 60px;
        padding-bottom: 30px;
        width: 90%;
        &-image {
            align-self: center;
            padding: 35px;
        }
        &-description {
            font-size: 25px;
            line-height: 30px;
            align-self: center;
        }
    }
    &-overall {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding-top: 30px;
        padding-bottom: 30px;
        width: 90%;
        &-description {
            font-size: 25px;
            line-height: 30px;
            align-self: center;
        }
    }
    &-spells {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding-top: 30px;
        width: 90%;
        padding-bottom: 30px;
    }
    &-minions {
        display: flex;
        flex-direction: column;
        align-self: center;
        position: relative;
        padding-top: 30px;
        width: 90%;
        padding-bottom: 30px;  
    }
    &-kill {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding-top: 30px;
        padding-bottom: 60px;
        width: 1200px;
        &-description {
            font-size: 25px;
            line-height: 30px;
        }
    }
    &-minion-example {
        align-self: center;
        position: relative;
    }
}

.minion {
    &-container {
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        align-self: center;
    }
    &-button {
        width: 128px;
        height: 128px;
    }
}

.mat-divider{
    border-top-width: 5px;
}