.enemy {
    align-self: center;
    border-radius: 5px;
    background-color: #202020;
    &-container {
        padding-left: 2vw;
        padding-right: 2vw;
    }
    &-details {
        display: grid;
        grid-template-rows: repeat(1, min-content);
        grid-template-columns: repeat(2, 50%);
        grid-auto-flow: row;
    }
    &-card {
        display: flex;
        flex-direction: row;
    }
    &-image {
        padding: 1vw;
        width: calc(32px + 8vw);
        height: calc(32px + 8vw);
    }
    &-quick-details {
        align-self: center;
    }
    &-name {
        color: #fff;
        font-weight: 700;
        font-size: calc(1em + 1.5vw);
        line-height: calc(.3em + 1.5vw);
        margin-bottom: 20px;
        text-overflow: ellipsis;
        align-self: center;
        font-family: "Times New Roman", Times, serif;
    }
    &-quote {
        font-weight: 700;
        font-size: calc(.6em + .75vw);
        line-height: calc(.6em + .75vw);
        align-self: center;
        font-style: italic;
    }
    &-descript {
        &-line {
            color: #fff;
            font-weight: 350;
            font-size: calc(.8em + .4vw);
            line-height: calc(.5em + .4vw);
        }
    }
    &-special-stat-change {
        width: 20%;
        margin-left: auto;
    }
    &-difficulty {
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: auto;
        &-label {
            align-self: center;
            color: #fff;
            font-weight: 700;
            font-size:calc(12px + 1.3vw);
            line-height:calc(12px + 1.3vw);
            text-overflow: ellipsis;
            align-self: center;
        }
    }
    &-stats {
        width: 90%;
        margin: auto;
        margin-top: 1%;
        margin-bottom: 1%;
        display: grid;
        grid-template-rows: repeat(4, min-content);
        grid-template-columns: repeat(2, 50%);
        grid-auto-flow: row;
    }
    &-stat {
        display: flex;
        flex-flow: row;
        &-details {
            font-size: calc(.6em + .75vw);
            line-height: calc(.8em + .75vw);
            font-weight: 600;
            padding-left: 1vw;
            align-self: center;
            white-space: pre-line;
        }
        &-image {
            height: calc(24px + 4vw);
            width: calc(24px + 4vw);
        }
    }
    &-notes {
        &-container {
            padding-top: 1%;
            padding-bottom: 1%;
            padding-left: 10%;
            padding-right: 10%;
            display: flex;
            flex-direction: column;
            overflow-wrap: break-word;
        }
        &-label {
            color: #ffffff;
            font-weight: 500;
            font-size: calc(.9em + .75vw);
            line-height: calc(.95em + .75vw);
        }
        &-description {
            color: #ffffff;
            font-weight: 200;
            font-size: calc(.8em + .75vw);
            line-height: calc(.85em + .75vw);
        }
    }
    &-drop {
        display: flex;
        flex-flow: row;
        align-items: center;
        &-label {
            font-size:calc(12px + 1.3vw);
            line-height:calc(12px + 1.3vw);
            &-container {
                text-align: center;
                padding-top: 1vw;
            }
        }
        &-container {
            color: #fff;
            margin: auto;
        }
        &-list {
            height: 100vh;
            display: grid;
            grid-template-columns: repeat(50%);
            grid-template-rows: repeat(8, min-content);
            grid-auto-flow: column;
            justify-content: center;
            column-gap: 1vw;
            padding: 2vw;
        }
        &-button {
            align-self: center;
            height: calc(32px + 4vw);
            max-height: calc(32px + 4vw);
            min-height: 32px;
            width: calc(32px + 4vw);
            max-width: calc(32px + 4vw);
            min-width: 32px;
        }
        &-details {
            font-size: calc(12px + .6vw);
            line-height:calc(12px + .6vw);
            font-weight: 600;
            padding-left: 5px;
            align-self: center;
        }
    }
}



@media screen and (max-width: 749px) {
    .enemy {
        &-details {
            display: grid;
            grid-template-rows: repeat(2, min-content);
            grid-template-columns: repeat(1, 100%);
            grid-auto-flow: row;
        }
        &-basics {
            margin-top: 1vw;
        }
        &-notes {
            &-label {
                align-self: center;
            }
        }
        &-stats {
            width: 99%;
        }
    }

  }