.back-button
{
  width: calc(32px + 2.4vw);
  height: calc(32px + 2.4vw);
}
.back-button-container
{
  display: flex;
  flex-flow: row;
  padding: .5vw;
  height: calc(45px + 3vw);
}
.back-button-label
{
      color: #FFD700;
      font-weight: 250;
      font-size: calc(12px + 1vw);
      text-overflow: ellipsis;
      align-self: center;
      margin-left: 10px;
}

.back-button-image {
  width: 100%;
}